html {
  background-color: #1b1b24;
  font-family: arial, sans-serif;
  overflow-y: scroll;
  margin: 0;
  overflow-x: hidden;
}

html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  color: white;
  text-align: center;
  background-color: white;
}

* {
    -webkit-tap-highlight-color: 0;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}

img {
  border: none;
}

body > main {
  position: relative;
  padding-top: 2em;
}

p a {
  color: #80d1bd;
  text-decoration: underline;
}

h1 {
  margin: 0 auto;
  font-size: 54px;
  font-weight: 700;
}

h2 {
  margin: 0 auto;
}

p {
  color: #e0e0e0;
  font-size: 19px;
  line-height: 26px;

  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#battle p.please-wait {
    color: #5d5d7a;
    opacity: 0 !important;

    -webkit-animation-delay: 2s;
            animation-delay: 2s;

    -webkit-transition: opacity 1s;
            transition: opacity 1s;
}

#battle p .headline-image {
    margin: 40px 0 12px;
    max-width: 90%;
    position: relative;
    z-index: 1;
}

#background {
  background-image: url('/images/Imagesmall.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 729px;
  position: absolute;
  width: 100%;
}

.light {
    font-weight: 300;
}

.bold {
    font-weight: 700;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-duration: 2s;
    -webkit-animation-name: fadeIn;
    animation-duration: 2s;
    animation-name: fadeIn;
}

.clear {
    clear: both;
}

.mobile-navigation {
    height: 48px;
    margin: 0 0 16px;
    opacity: 0;
    overflow: hidden;

    -webkit-transition: opacity 0.8s 0.8s;
            transition: opacity 0.8s 0.8s;
}


header nav {
    background-color: #12121a;
    height: 66px;
    position: relative;
    text-align: center;
    white-space: nowrap;
}

header nav a {
    opacity: 0;

    -webkit-transition: opacity 1s 0.3s;
            transition: opacity 1s 0.3s;
}

@media screen and (min-width: 860px) {
    .mobile {
        display: none !important;
    }
}

@media screen and (max-width: 859px) {
    .desktop {
        display: none !important;
    }
}

.wf-loading body {
  opacity: 0;
}

.wf-active body {
  transition: opacity 0.4s;
  opacity: 1;
}

.wf-active body > main h1 {
  font-family: 'proxima-nova';
  font-size: 37px;
}

.wf-active body > main p {
  font-family: 'proxima-nova';
  font-size: 20px;
  font-weight: lighter;
}

.form-wrapper {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

/* Form */
body #battle #petition {
    color: #505073;
    margin: 0px auto 0;
    width: 100%;
    max-width: 700px;
    -webkit-transition: opacity 0.8s;
        transition: opacity 0.8s;
}

body #battle #petition ul.tabs {
    width: 100%;
    list-style-type: none;
    font-size: 0px;
    padding: 0px;
    line-height: 0px;
}

body #battle #petition .tabs li {
    width: 25%;
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

body #battle #petition .tabs li a {
    display: inline-block;
    width: 100%;
    height: 45px;
    background-color: #d2d2de;
    border-left: 1px solid #999;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60% auto;
    outline: 0;
}
body #battle #petition .tabs li a:hover {
    background-color: #e2e2ee;
}
@media screen and (min-width: 500px) {
    body #battle #petition .tabs li a {
        background-size: auto 60%;
    }
}
body #battle #petition .tabs li a.sel {
    background-color: #fff;
}
body #battle #petition .tabs li a.verizon {
    border-left: 0px;
    background-image: url(/images/petition/verizon.png);   
}
body #battle #petition .tabs li a.att {
    background-image: url(/images/petition/att.png);   
}
body #battle #petition .tabs li a.tmobile {
    background-image: url(/images/petition/tmobile.png);   
}
body #battle #petition .tabs li a.comcast {
    background-image: url(/images/petition/comcast.png);   
}


body #battle #petition .fields {
    background-color: #fff;
    padding: 10px;
}
body #battle #petition .fields div {
    display: inline-block;
    padding: 5px;
    width: 50%;
}
body #battle #petition .fields div.wide {
    width: 100%;
}
body #battle #petition .fields input[type="text"], body #battle #petition .fields textarea {
    width: 100%;
    height: 45px;
    border-radius: 6px;
    border: 1px solid #c1c0ea;
    padding: 0px 15px;
    -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.1);
    box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.1);
    font-size: 16px;
}
body #battle #petition .fields textarea {
    padding: 15px 15px 0px 15px;
    height: 85px;
    transition: height .3s ease-in;
    -moz-transition: height .3s ease-in;
    -ms-transition: height .3s ease-in;
    -webkit-transition: height .3s ease-in;
}
body #battle #petition .fields textarea.expanded {
    height: 275px;
}
body #battle #petition .fields p {
    text-align: left;
    margin: 0px 0px 0px 5px;
    font-size: 16px;
    color: #393863;
}
body #battle #petition .fields span {
    color: #999;
    font-style: italic;
}

body #battle #petition button {
    background: #23d19d;
    color: white;
    border: 0px;
    height: 60px;
    line-height: 60px;
    width: 100%;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    cursor: pointer;
}
body #battle #petition button:hover {
    background: #13c18d;
}

.disclaimer {
  color: #5d5d7a;
  font-size: 13px;
}

.disclaimer a {
  color: #8d8db2;
}

.disclaimer a:hover {
  color: #20cba1;
}



/* Phone call form */
form {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
}

form.email section {
  min-height: 300px;
}

form section {
  width: 50%;
  padding: 10px;
}

form label {
  display: inline-block;
  padding-bottom: 5px;
  color: #333;
}

input, textarea {
  border: 1px solid #ccc;
  border-radius: 3px;
  color: red;
  font-family: 'proxima-nova', sans-serif;
  font-size: 15px;
  padding: 6px 12px;
}

input {
  height: 35px;
  line-height: 35px;
  font-weight: bold;
}

textarea {
  min-width: 100%;
  min-height: 100%;
}

form section input, form section button {
  width: 100%;
}

@media screen and (min-width: 500px) {
    body #battle .phone-call-form {
        width: 420px;
    }
}

body #battle .thanks {
    background-color: #c6e5dd;
    border-radius: 7px;
    display: block;
    margin: 0 auto;
    padding: 20px 20px 20px;
    min-width: 280px;
    max-width: 550px;
}

body #battle .thanks h2 {
    color: #20cba1;
    line-height: 1;
    margin: 0px;
}
body #battle .thanks p {
    color: rgba(0, 0, 0, .7);
    padding: 0px 10px;
    margin: 10px 0px 10px 0px;
}
body #battle .thanks p a {
    color: black;
}

/* Modal */

/*270 x 175
420 x 273*/

#battle section h2 {
    font-size: 45px;
    font-weight: 300;
}

p {
  color: #eee;
  font-size: 21px;
  font-weight: 300;
  line-height: 26px;
  margin: 36px auto;
  max-width: 780px;
}

/* Team Cable */
#team-cable {
    background-color: #1c1c25;
    background-color: #29293c;
    font-family: 'proxima-nova', sans-serif;
    margin: 0px 0 0;
    padding: 16px 25px 64px;
}
#team-cable h2 {

}
#team-cable p {
    color: #eee;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    margin: 36px auto 0;
    max-width: 768px;
}
#team-cable img {
    height: 72px;
    min-width: 126px;
    opacity: 0;

    -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
}

/* FCC Section */
#fcc-commissioners {
    background-color: #27273a;
    font-family: 'proxima-nova', sans-serif;
    font-weight: bold;
    margin: 64px 0 0;
    padding: 16px 25px 64px;
}
#fcc-commissioners h2 {

}
#fcc-commissioners p {
    color: #eee;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    margin: 36px auto 0;
    max-width: 768px;
}
#fcc-commissioners .commissioner {
    display: inline-block;
    opacity: 0;
    position: relative;

    -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
}
#fcc-commissioners .commissioner .name {
    bottom: 12px;
    left: 12px;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
}
#fcc-commissioners .commissioner .name .first {
    font-size: 16px;
    padding: 0 0 2px;
}
#fcc-commissioners .commissioner .name .last {
    font-size: 20px;
}
#fcc-commissioners .commissioner img {
    height: 184px;
    width: 184px;
    vertical-align: bottom;
}

#fcc-commissioners .key {
    margin: 0 0 16px;
}

#fcc-commissioners .key h3 {
    border-left: solid 10px #fff;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    line-height: 29px;
    margin: 0 24px 12px;
    padding-left: 10px;
    text-transform: uppercase;
}

#fcc-commissioners .key h3.cable {
    border-color: #ee4b4c;
}

#fcc-commissioners .key h3.unknown {
    border-color: #343444;
}

#fcc-commissioners .key h3.internet {
    border-color: #2dbb9b;
}


/* Grumpy Cat Section */
#grumpy-cat {
    background-color: #1b1b24;
    font-family: "proxima-nova", sans-serif;
    font-weight: bold;
    padding: 16px 25px 64px;
}
#grumpy-cat h2 {}
#grumpy-cat p {
    color: #eee;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    margin: 36px auto 0;
    max-width: 768px;
}
#grumpy-cat img {
    max-width: 100%;
}


/* How We Won Section */
#how-we-won {
    background-color: #1b1b24;
    font-family: 'proxima-nova', sans-serif;
    font-weight: bold;
    padding: 16px 25px 64px;
}
#how-we-won h2 {}
#how-we-won p {
    color: #eee;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    margin: 36px auto 0;
    max-width: 768px;
}
#how-we-won img {
    max-width: 100%;
}

/* Team Internet */
#team-internet {
    background-color: #1f1f2d;
    font-family: 'proxima-nova', sans-serif;
    margin: 0px 0 0;
    padding: 16px 25px 64px;
}
#team-internet h2 {

}
#team-internet p {

}

#team-internet .quote-bubble {
    background-color: white;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.9);
    color: black;
    display: none;
    padding: 18px 18px 0;
    position: fixed;
    width: 300px;
    pointer-events: none;

    /* Temporary */
    padding-bottom: 18px;
    right: 0;
    top: 0;
}

#team-internet .quote-bubble .name {
    color: rgba(49, 49, 66, 1);
    font-weight: bold;
    margin: 0 0 8px;
}

#team-internet .quote-bubble .quote {
    color: rgba(49, 49, 66, 1);
}

#team-internet .quote-bubble .quote:after,
#team-internet .quote-bubble .quote:before {
    color: rgba(49, 49, 66, 0.2);
    content: '"';
    font-weight: bold;
    padding: 0 2px;
}

#team-internet .quote-bubble .arrow-wrapper {
    height: 4px;
    margin: 0 auto;
    width: 30px;
}

#team-internet .quote-bubble .arrow-wrapper .arrow {
    background-color: white;
    height: 30px;
    width: 30px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

#team-internet .supporters {
    margin: 0 auto;
    max-width: 960px;
    overflow: hidden;
}

@media only screen and (max-width: 1100px) {
    #team-internet .supporters {
        max-width: 720px;
    }
}

@media only screen and (max-width: 790px) {
    #team-internet .supporters {
        max-width: 480px;
    }
}

@media only screen and (max-width: 600px) {
    #team-internet .supporters {
        max-width: 240px;
    }
}

#team-internet .supporters li {
    background-image: url(../images/team-internet-logos.jpg?rev3);
    float: left;
    height: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 60px;
}

section .btn {
    background: #4dbca1;
    border: none;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-family: 'proxima-nova', sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    margin: 40px auto;
    padding: 0 24px;
    text-align: center;
    text-transform: uppercase;

    -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
}

section .btn:hover, button:hover {
    background-color: #64d0b6;
    cursor: pointer;
}

/* Learn More */
#learn-more {
    background-color: #1b1b24;
    font-family: 'proxima-nova', sans-serif;
    padding: 16px 25px 64px;
}
#learn-more h2 {
    margin-bottom: 0;
}
#learn-more p {

}
#learn-more .break {
    background-color: red;
    height: 3px;
    margin: 15px auto 30px;
    width: 8%;
}
#learn-more .video_wrapper {
    height: 0;
    margin: 30px auto;
    padding-bottom: 56.25%;
    padding-top: 25px;
    position: relative;
}
#learn-more .video_wrapper iframe {
    border-radius: 5px;
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
@media only screen and (min-width: 768px) {
    #learn-more .video_wrapper {
        height: 399px;
        padding-bottom: 0;
        padding-top: 0;
        width: 640px;
    }

    #learn-more .video_wrapper iframe {
        border: 10px solid #4c4c64;
    }
}

/* Extra Reading */
#zero-rating {
    background-color: #313142;
    font-family: 'proxima-nova', sans-serif;
    padding: 16px 25px 64px;
}
#zero-rating h3 {
    font-size: 175%;
    margin-top: 50px;
    margin-bottom: 0px;
    font-weight: 400;
}
#zero-rating p {
    text-align: justify;
}

/* Extra Reading */
#extra-reading {
    /* background-color: #313142; */
    background-color: #313142;
    font-family: 'proxima-nova', sans-serif;
    padding: 16px 25px 64px;
}
#extra-reading h2 {
    margin-bottom: 36px;
}
#extra-reading p {
    margin-top: 0;
}
#extra-reading p a {
    color: #20cba1;
    font-size: 16px;

    -webkit-transition: color 0.3s;
            transition: color 0.3s;
}
#extra-reading p a:hover {
    color: #2aedbd;
}
#extra-reading p .publication {
    color: #ccd;
    font-size: 16px;
    font-style: italic;
}



/* Footer */
.footer-target footer {
  border-top: 4px solid #3b3b58;
  background: #5d5d88;
  color: #c6c6e3;
  padding: 40px 0px 145px 0px;
  text-align: center;
  font-family: 'proxima-nova', sans-serif;
}
.footer-target footer .built_by {
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
}
.footer-target footer .built_by img {
    margin-top: 10px;
    width: 300px;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.footer-target footer .built_by img:last-child {
    width: 45px;
    vertical-align: middle;
    height: auto;
}
.footer-target footer .org_logo {
  display: inline-block;
  padding: 32px;
}
.footer-target footer .blurb {
  font-size: 23px;
  font-weight: 100;
  padding-bottom: 10px;
}
.footer-target footer .blurb p {
  margin-bottom: 0px;
}
.footer-target footer .blurb a {
  color: white;
}
.footer-target footer .blurb a:hover {
  color: pink;
}
.footer-target footer .blurb small {
  font-size: 14px;
}
.footer-target footer .blurb em {
  margin: 0px 10px 0px 7px;
}
.footer-target footer hr {
  border-top: 1px solid #666694;
  border-left: 0px none transparent;
  border-right: 0px none transparent;
  border-bottom: 0px none transparent;
}
.footer-target footer hr.narrow {
  width: 200px;
}

.footer-target footer .socials {
  padding: 10px 0px 20px 0px;
}

.shares-container {
  border-radius: 50px;
  padding: 5px 10px;
  width: 490px;
  margin: 0px auto;
}

.footer-target .shares-container {
  background-color: #39394D;
}

@media screen and (max-width: 520px) {
   .shares-container {
     border-radius: 25px;
     width: 240px;
     padding: 0;
   }
}

.shares-container .share-container img {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 3px;
  left: 17px;
}

.shares-container .share-container span {
    color: #fff;
}

.fb-share-container {
  background-color: #3B5999;
}

.twitter-share-container {
  background-color: #4099FF;
}
.shares-container .share-container {
    border: none;
    position:relative;
    display:inline-block;
    width: 220px;
    border-radius: 25px;
    text-align:center;
    font-family: 'proxima-nova',sans-serif;
    font-size: 11px;
    font-weight:bold;
    line-height: 40px;
    margin: 6px;
    text-transform: uppercase;
    cursor: pointer;
}

.shares-container button.share-container {
  width: 330px;
  font-size: 16px;
  margin-bottom: 12px;
}

.shares-container a.twitter {
  color: #4099ff;
  font-size: 12px;
}

#supporters {
  background: #ffffff;
}
body.privacy {
  background-color: #101010;
  background-image: none;
}
body.privacy img {
  margin: 0 0 24px;
  max-width: 500px;
  width: 100%;
}
body.privacy a {
  color: #ffffff;
  font-weight: bold;
}
body.privacy a:hover,
body.privacy a:active {
  text-decoration: underline;
}
body.privacy section.team-internet p {
  text-align: left;
}
body.privacy section.team-internet.fight-for-the-future {
  background-color: #1c1c25;
}

.overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: table;
    display: none;
    z-index: 9001;

    -webkit-transition: opacity 0.4s ease-out 0s, left 0s linear 0s;
            transition: opacity 0.4s ease-out 0s, left 0s linear 0s;
}
.overlay.invisible {
    pointer-events: none;
    opacity: 0;
    left: 99999px;

    -webkit-transition: opacity 0.4s ease-out 0s, left 0s linear 0.5s;
            transition: opacity 0.4s ease-out 0s, left 0s linear 0.5s;
}

.overlay .gutter {
  display: table-cell;
  vertical-align: middle;
}

.modal {
  max-width: 720px;
  border-radius: 10px;
  background: #645fa2;
  color: black;
  margin: 0px auto;
  position: relative;
}

.modal a.close {
    position: absolute;
    right: 10px;
    top: 0px;
    color: black;
    opacity: .4;
    text-decoration: none;
    font-size: 30px;
}

.modal a.close:hover {
    opacity: .6;
}

.modal footer {
  background-color: #2a2750;
  border-radius: 0 0 10px 10px;
}

@media screen and (max-width: 480px), screen and (max-height: 480px) {
    .modal header {
        font-size: 18px;
        padding: 15px 10px;
    }
    .modal h2 {
        font-size: 14px;
        padding: 0px 10px;
    }
    .modal p, .modal p.small {
        font-size: 12px;
        line-height: 1.7;
        padding: 10px 10px;
    }
    .modal a.shareBtn {
        font-size: 0.7em;
        line-height: 40px;
        margin: 10px 7px 10px 7px;
        padding: 0 18px;
    }
    .modal button {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 667px) {
  .modal .shares-container {
    flex-wrap: wrap;
  }

  .modal .shares-container > a {
    display: inline-block;
    min-width: 100%;
  }
}

a.shareBtn {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    font-size: 1.0em;
    -moz-user-select: none;
    text-decoration: none;
    border: 0px none;
    border-radius: 5px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    margin: 15px 7px 15px 7px;
    padding: 0px 23px;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    opacity: .9;
}
a.shareBtn:hover {
    opacity: 1;
}
a.shareBtn.facebook {
    background-color: #3754A9;
}
a.shareBtn.twitter {
    background-color: #2D98D6;
}
.action-bar {
    background: #39394d;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 6px 20px 10px;;
    border-top: 1px solid rgba(255, 255, 255, .1);
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
    font-weight: bold;
    line-height: 45px;
    vertical-align: middle;
    letter-spacing: 1px;
    margin-bottom: -100%;
    -webkit-transition: all 1s;
            transition: all 1s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}
.action-bar.visible {
    margin-bottom: 0px;
}
.action-bar a.x {
    position: absolute;
    right: 10px;
    top: 5px;
    height: 25px;
    line-height: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    background: #29293d;
    color: rgba(255, 255, 255, .5);
    font-weight: normal;
    font-size: 25px;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}
.action-bar a.x:hover {
    color: #29293d;
    background: #aaa;
}
.action-bar a.butt {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    background: #8283b0;
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0px 20px;
    color: white;
    margin-left: 10px;

    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}
.action-bar a.butt > span {
    color: #555579;
    font-size: 20px;
    font-family: "Courier New", sans-serif;
    vertical-align: middle;
    font-weight: bold;
    -webkit-transition: all 0.3s;
        transition: all 0.3s;
    letter-spacing: 0px;
}
.action-bar a.butt:hover > span {
    color: white;
}
.action-bar > div {
    display: inline;
}
.action-bar a.butt:hover {
    text-shadow: 0px 0px 5px white;
    background: #626390;
    color: white;
}
.action-bar a {
    color: white;
    text-decoration: underline;
}
.action-bar a:hover {
    color: pink;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}
@media screen and (max-width: 1200px) {
    .action-bar {
        padding-bottom: 15px;
    }
    .action-bar > div {
        display: block;
    }
}
@media screen and (max-width: 899px) {
    .action-bar {
        display: none;
    }
}

.sharing-buttons {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 459px) {
    .sharing-buttons {
      display: none;
    }
}

.sharing-buttons li a span {
    display: none;
}

.share-buttons-target .sharing-buttons {
  left: 0px;
  bottom: 0px;
  position: fixed;
  z-index: 99;
  width: 300px;
  text-align: center;
  background: rgba(0, 0, 0, 0);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
}
@media screen and (min-width: 460px) {
  .share-buttons-target .sharing-buttons {
    background: none;
    bottom: auto;
    left: 0;
    position: fixed;
    text-align: auto;
    top: calc((100% - 234px) / 2);
    width: auto;
    z-index: 99;
  }
}
.sharing-buttons li {
  font-weight: bold;
  font-size: 0.8em;
  list-style-type: none;
  margin: 0;
  text-align: left;
  padding: 0px 5px 0px 5px;
  display: inline-block;
}
@media screen and (min-width: 460px) {
  .sharing-buttons li {
    display: block;
    padding: 5px 5px 5px 0;
  }
}
.sharing-buttons li a {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: white;
  display: inline-block;
  height: 100%;
  position: relative;
  text-decoration: none;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
  width: 100%;
}
.sharing-buttons li a span {
    position: absolute;
    top: 7px;
}
@media screen and (min-width: 460px) {
  .sharing-buttons li a {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
.sharing-buttons li a img {
  border: none;
  width: 64px;
  height: 64px;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
          transition: opacity 0.6s;
  display: block;
}
.sharing-buttons li a.facebook {
  background: #3C5A96;
}
.sharing-buttons li a.googleplus {
  background: #DB585A;
}
.sharing-buttons li a.reddit {
  background: #FF4500;
}
.sharing-buttons li a.pressthis {
  background: #1e8cbe;
}
.sharing-buttons li a.tumblr {
  background: #32506E;
}
.sharing-buttons li a.twitter {
  background: #59ADEB;
}
.sharing-buttons li a:hover {
  opacity: 0.9;
}

.form-wrapper .form {
  font-family: 'proxima-nova',sans-serif;
  margin: 48px auto 64px;
  max-width: 620px;
  background-color: #645fa2;
  border-radius: 5px;
}

.shadow {
  -webkit-box-shadow: 0px 25px 95px -8px rgba(15,5,31,1);
  -moz-box-shadow: 0px 25px 95px -8px rgba(15,5,31,1);
  box-shadow: 0px 25px 95px -8px rgba(15,5,31,1);
}

header h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 10px;
}

header h4 {
  font-size: 22px;
  margin: 0 0 10px;
}

header h3:last-child,
header h4:last-child {
  margin-bottom: 0;
}

.modal aside {
  position: absolute;
  bottom: 100%;
  min-width: 230px;
  padding-right: 20px;
  border: 0;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 14px;
  line-height: 1.428571429;
}

@media only screen and (min-width: 768px) {
  .modal aside {
    max-width: 230px;
    bottom: 0;
    right: 100%;
    text-align: right;
  }
}

.modal aside .disclaimer {
  color: #999;
  font-size: 12px;
}

.modal aside h4 {
  margin: 0;
  line-height: 1.428571429;
  font-size: 18px;
  font-weight: 700;
}

.modal aside p {
  padding: 0;
  color: #fff;
}

.modal .body {
  background-color: #4d4882;
  padding: 20px;
}

.modal .body p {
  margin: 0 0 20px;
}

.modal .body p:last-child {
  margin-bottom: 0;
}

.modal .body textarea {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  height: 200px;
  padding: 5px;
  resize: none;
  width: 100%;
}

@media only screen and (min-width: 480px) {
  header h3 {
    font-size: 32px
  }
}

@media only screen and (min-width: 768px) {
  header h3 {
    font-size: 36px
  }
}

header p {
  color: #dfddf3;
  font-size: 18px;
  margin: 0;
}

header {
  color: #fff;
  padding: 20px;
}

#thanks_modal form.call header {
  padding-top: 0;
}

form main {
  width: 100%;
  padding: 0 20px 20px;
  display: flex;
}

.form-wrapper form.call main input {
  height: 54px;
  font-size: 20px;
  margin-bottom: 0;
  text-align: center;
}

input, textarea {
  margin-bottom: 15px;
  border: 0;
  border-bottom: 1px solid #d1d1e9;
  border-radius: 5px;
  box-shadow: none;
  color: #645fa2; 
  height: 44px;
  padding: 0 18px;
  transition: background-color .15s
}

@media only screen and (min-width: 768px) {
  input, textarea {
    margin-bottom: 10px;
  }
}

/* These selectors only work when declared separately for some buggy reason */
form ::-webkit-input-placeholder {
  color: #645fa2;
}

form ::-moz-placeholder {
  color: #645fa2;
  opacity: 1;
}

form :-ms-input-placeholder {
  color: #645fa2;
}

form ::placeholder {
  color: #645fa2;
}

input:focus, textarea:focus {
  background-color: #eef;
  border-bottom: 1px solid #d1d1e9;
  box-shadow: none
}

textarea {
  border-bottom: 0;
  color: #645fa2;
  font-size: 14px;
  height: 142px;
  overflow: scroll;
  padding: 12px 15px 10px;
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 11px;
}

textarea::-webkit-scrollbar-track {
  border-radius: 5px;
}

textarea::-webkit-scrollbar-thumb {
  min-height: 28px;
  border: 2px solid white;
  border-radius: 5px;
  background: rgba(0,0,0,0.5);
}

textarea::-webkit-scrollbar:hover {
  background: rgba(0,0,0,0.05);
  border-left: 1px solid rgba(0,0,0,0.1);
}

form .left {
  width: 100%;
  padding: 0 15px 5px;
}

form .left .flex {
  display: flex;
}

form .left .flex input {
  border-bottom: 0;
}

form .left .flex .input-address {
  min-width: 20%;
  margin-right: 10px;
  flex: 1;
}

form .left .flex .input-zip {
  width: 110px;
}

@media only screen and (min-width: 768px) {
  form .left {
    float: left;
    width: 50%;
  }
}

form .right {
  width: 100%;
  cursor: pointer;
  position: relative;
  padding: 0 15px 15px;
}

@media only screen and (min-width: 768px) {
  form .right {
    float: left;
    width: 50%;
    padding: 0 15px 15px 0;
  }
}

form .right .textarea-wrapper {
  height: 100%;
  position: relative;
}

form .right .textarea-fade {
  background-color: #fff;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: left;
  padding: 5px 15px;
  border-top: 1px solid #edecf7;
  border-radius: 0 0 5px 5px;
}

form .right .edit {
  display: block;
  color: #645fa2;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 20px;
  background: url('/images/pencil.png') no-repeat;
}

form .right:hover .edit {
  text-decoration: underline
}

form footer {
  width: 100%;
  background-color: #2a2750;
  border-radius: 0 0 5px 5px;
  padding: 15px 20px 8px;
  clear: both;
}

button {
  border: 0;
  box-shadow: 0 2px 1px rgba(36,95,82,.7);
  color: #fff;
  height: 64px;
  background-color: #41ddb9;
  background: -webkit-gradient(linear,left top,left bottom,from(#41ddb9),to(#2fd19f));
  background: -webkit-linear-gradient(top,#41ddb9,#2fd19f);
  background: -moz-linear-gradient(top,#41ddb9,#2fd19f);
  background: -ms-linear-gradient(top,#41ddb9,#2fd19f);
  background: -o-linear-gradient(top,#41ddb9,#2fd19f);
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  width: 100%;
  margin: 0;
  border-radius: 5px;
  text-shadow: rgb(68, 148, 107) 0px 2px 3px;
}

@media only screen and (min-width: 480px) {
  button {
    font-size: 26px
  }
}

button:hover,
button:focus {
  box-shadow: 0 2px 4px rgba(36,95,82,.8);
  opacity: .92
}

.modal input {
  height: 64px;
  font-size: 18px;
  flex: 3;
}

.modal button {
  margin-left: 10px;
  flex: 2;
}

.form-wrapper form main button,
.modal form header h3,
.modal form footer {
  display: none;
}

.modal .shares-container {
  display: flex;
  border-radius: 0;
  width: 100%;
  margin: 0;
}

#call_modal .shares-container {
  display: block;
}

.modal .shares-container h4 {
  color: #fff;
  font-size: 26px;
  flex: 2;
  line-height: 54px;
  margin: 6px;
}

.modal .share-container {
  border-radius: 5px;
  line-height: 54px;
  flex: 2;
}

.modal .share-container img {
  background-color: #fff;
  border-radius: 100%;
  padding: 2px;
  top: 10px;
}

.modal footer {
  padding: 20px; 
}

.modal footer button {
  position: relative;
}

.modal footer button img {
  width: 48px;
  position: absolute;
  top: 8px;
  left: 150px;
}

footer .disclaimer {
  color: #9793bd;
  font-size: 11px;
  margin: 0;
  padding-top: 8px;
  line-height: 16px;
  font-weight: normal;
}

footer .disclaimer a {
  color: #bbb9dd;
  text-decoration: none;
}

footer .disclaimer a:hover {
  text-decoration: underline;
}

label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

input, textarea {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #645fa2;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.disclaimer input[type="checkbox"] {
  width: auto;
  height: auto;
  display: inline;
}

textarea {
  height: auto;
}

textarea:focus,
input:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
textarea::-webkit-input-placeholder,
textarea::-moz-placeholder,
textarea:-ms-input-placeholder {
  color: #777;
  opacity: 1;
}

input[disabled],
input[readonly],
fieldset[disabled] input,
textarea[disabled],
textarea[readonly],
fieldset[disabled] textarea {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}

/* Custom styling for Action Network Widget */
#town-hall {
  background-color: #1f1f2d;
  padding: 16px 25px 64px;
}

#can-event_campaign-area-stand-up-for-net-neutrality-at-town-hall-events {
  margin: 0 auto;
}

#can_embed_form h2,
#can_embed_form h4,
#custom_html.mt20,
#can_embed_form form#can_zip_search,
#search_location_list,
#event_desc,
#action_info,
#can_main_col .last_line,
#can_sidebar.mb40,
#can_embed_form .can_thank_you-block,
#can_embed_form .discussion-board,
#can_embed_form .thank-you-message .event_map_wrap {
  display: none;
}

.can_embed {
  margin: 30px auto;
}

#can_embed_form input[type='submit'] {
  background-color: #17A1CE;
  font-family: @body-font, Helvetica, Verdana, sans-serif;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1bbaee+0,17a1ce+100 */
  background: #1bbaee; /* Old browsers */
  background: -moz-linear-gradient(top, #1bbaee 0%, #17a1ce 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1bbaee), color-stop(100%,#17a1ce)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1bbaee 0%,#17a1ce 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1bbaee 0%,#17a1ce 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1bbaee 0%,#17a1ce 100%); /* IE10+ */
  background: linear-gradient(to bottom, #1bbaee 0%,#17a1ce 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1bbaee', endColorstr='#17a1ce',GradientType=0 ); /* IE6-9 */
}

#can_embed_form input[type='submit']:hover {
  background-color: #17A1CE;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
  text-shadow: 0px;
}

#can_embed_form input[type='submit']#form-zip_code-submit {
  color: transparent;
  text-shadow: unset;
}

#can_embed_form input[type='submit']#form-zip_code-submit.text-visible {
  color: white;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
}

#can_embed_form #can_thank_you {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.can_embed .shares-container img {
  width: 24px;
}

#can_embed_form .international_link {
  color: transparent;
}

#can_embed_form .international_link.text-visible {
  color: white;
}

#can-event_campaign-area-stand-up-for-net-neutrality-at-town-hall-events {
  max-width: 600px;
}

input{
	 color: red !important; 
}

.video-embed-target .video_wrapper {
  position: relative;
  height: 0;
  padding: 0 0 56.25% 0; /* 16:9 */
}

.video-embed-target .video_wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video-petition {
  margin: 48px auto 64px;
  max-width: 960px;
  overflow: hidden;
  padding: 15px;
  display: flex;
  align-content: space-between;
}

#video-petition .video-embed-target,
#battle #video-petition .form-wrapper {
  margin: 0 10px;
  flex: 1;
}

#battle #video-petition .form-wrapper {
  padding: 0;
}

#video-petition .form-wrapper .form {
  margin-top: 0;
  margin-bottom: 0;
}

#video-petition .form-wrapper header {
  display: none;
}

#video-petition .form-wrapper .left,
#video-petition .form-wrapper .right {
  float: none;
  width: 100%;
}

#video-petition .form-wrapper .left {
  padding: 15px 15px 0;
}

#video-petition .form-wrapper .right {
  padding: 0 15px 15px;
}

@media only screen and (max-width: 1100px) {
  #video-petition {
    max-width: 620px;
    display: block;
  }

  #video-petition .video-embed-target,
  #battle #video-petition .form-wrapper {
    width: 100%;
    margin: 0 0 15px;
  }
}

.day-of-action {
  background-color: #fff;
  font-family: 'proxima-nova', sans-serif;
}

.day-of-action > main {
  background: url(/images/background-texture.png);
}

.day-of-action section {
  max-width: 680px;
  margin: 0 auto;
}

.day-of-action h1 {
  font-family: 'proxima-nova', sans-serif;
  padding: 0.5em 0;
  text-transform: uppercase;
  border-style: solid;
  border-image-source: url('/images/line1.png');
  border-image-slice: 100% 0;
}

.day-of-action h1 strong {
  background-color: #ff3434;
  color: #fff;
  padding: 0 0.2em;
}

.day-of-action h2 {
  font-family: 'bebas-neue', sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  color: #ff3434;
  text-transform: uppercase;
}

.day-of-action, .day-of-action p {
  color: #000;
}

.day-of-action a {
  color: #ff3434;
}

.day-of-action .form {
  margin: 0 auto;
  padding-bottom: 40px;
  background-color: transparent;
}

.day-of-action form main {
  padding: 0 20px;
  display: block;
}

.day-of-action form section {
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
}

.day-of-action form section.comment {
  display: block;
}

.day-of-action form section.comment.hidden {
  display: none;
}

.day-of-action form section.comment label {
  margin-bottom: 10px;
}

.day-of-action input {
  min-width: 0;
  min-height: 64px;
  margin: 0 2px;
  border: 1px solid #b8b8b8;
  border-radius: 5px;
  font-size: 18px;
  font-weight: normal;
  flex: 2;

}

.day-of-action input:first-child {
  margin-left: 0;
}

.day-of-action input:last-child {
  margin-right: 0;
}

.day-of-action input[name="member[postcode]"] {
  flex: 1;
}

.day-of-action input[type="checkbox"] {
  width: auto;
  height: auto;
  min-height: 0;
  flex: none;
  margin-right: 10px;
}

.day-of-action input:focus, .day-of-action textarea:focus {
  background-color: #fff;
  border: 1px solid red;
-webkit-box-shadow: 0px 0px 25px -8px rgba(255,0,0,1);
-moz-box-shadow: 0px 0px 25px -8px rgba(255,0,0,1);
box-shadow: 0px 0px 25px -8px rgba(255,0,0,1);
color: red;
}

/* These selectors only work when declared separately for some buggy reason */
.day-of-action form ::-webkit-input-placeholder {
  color: #b8b8b8;
}

.day-of-action form ::-moz-placeholder {
  color: #b8b8b8;
  opacity: 1;
}

.day-of-action form :-ms-input-placeholder {
  color: #b8b8b8;
}

.day-of-action form ::placeholder {
  color: #b8b8b8;
}

.day-of-action label {
  width: initial;
  height: initial;
  margin: 0;
  padding: 0;
  display: block;
  position: initial;
  color: inherit;
  clip: initial;
  overflow: initial;
  text-align: left;
}

.day-of-action form footer {
  background-color: transparent;
}

.day-of-action button {
  border-radius: 5px;
  background: #ff3434;
  text-shadow: none;
  -webkit-box-shadow: 0px 25px 95px -8px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 25px 95px -8px rgba(0,0,0,0.3);
  box-shadow: 0px 25px 95px -8px rgba(0,0,0,0.3);

      -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);  
}

.day-of-action button:hover {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.05);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 200ms ease-in;
    transform: scale(1.05); 
}

.day-of-action form footer .disclaimer {
  margin-top: 40px;
  font-size: 12px;
  line-height: 18px;
  color: #000;
}

.day-of-action form footer .disclaimer a {
  color: #ff3434;
}

.day-of-action .countdown {
  max-width: 100%;
  padding: 20px;
  background-color: #4e4e4e;
}

.countdown p {
  max-width: 600px;
  margin: 0 auto;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
}

.day-of-action .faq {
  background-color: #fff;
  padding: 90px 0;
}

.day-of-action .faq ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.day-of-action .faq li {
  margin: 0 0 90px;
}

.day-of-action .faq li:last-child {
  margin-bottom: 0;
}

.day-of-action .participants {
  max-width: 100%;
  padding: 40px 0;
  background-color: #f7f7f7;
}

.day-of-action .participants ul,
.day-of-action footer ul {
  max-width: 680px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.day-of-action .participants ul li {
  min-width: 165px;
  max-width: 165px;
  max-height: 70px;
  margin-bottom: 6px;
  padding: 15px;
  background-color: #fff;
  flex: 1;
  display: flex;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(224,224,224,1);
  -moz-box-shadow: 0px 1px 4px 0px rgba(224,224,224,1);
  box-shadow: 0px 1px 4px 0px rgba(224,224,224,1);
}

.day-of-action .participants ul li img,
.day-of-action > footer ul li img {
  max-width: 100%;
  object-fit: contain;
}

.day-of-action .faq p {
  margin: 0 auto;
}

.day-of-action > footer {
  padding-bottom: 40px;
}

.day-of-action > footer ul li {
  max-height: 120px;
  padding: 15px;
  flex: 1;
  display: flex;
}

.day-of-action > footer ul li a {
  display: flex;
}

.day-of-action > footer hr {
  max-width: 680px;
  padding: 0 15px;
  border: 1px solid #f6f6f6;
}

.day-of-action .modal {
  background: #4e4e4e;
}

.day-of-action .modal header p {
  color: #fff;
}

.day-of-action .modal footer {
  background-color: #fff;
}

.day-of-action .modal footer .twitter-share-container {
  background-color: #4099FF;
}

.day-of-action .modal footer .shares-container > h4,
.day-of-action .modal footer .disclaimer {
  display: none;
}

.day-of-action .modal a {
  color: #fff;
}
