@-webkit-keyframes hueRotate {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(359deg);
    }
}

@keyframes hueRotate {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(359deg);
    }
}

#background.hueRotate {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: hueRotate;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: hueRotate;
}

body.loaded .mobile-navigation {
    opacity: 1;
}

.mobile-navigation {
    display: block;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.mobile-navigation.expanded {
    height: auto;
}

.mobile-navigation.expanded ul {
    opacity: 1;
    -webkit-transition: height 0s, opacity 0.2s;
    transition: height 0s, opacity 0.2s;
}

.mobile-navigation .hamburger {
    background-color: #12121a;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    height: 48px;
    padding: 7px 0 0;
    position: relative;

    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.mobile-navigation .hamburger hr {
    background-color: rgba(93, 93, 122, 0.6);
    border: none;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    height: 3px;
    margin: 6px auto;
    max-width: 32px;
    padding: 0;

    -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
}

.mobile-navigation.expanded .hamburger {
    background-color: #191924;
}

.mobile-navigation .hamburger:hover {
    background-color: #191924;
}

.mobile-navigation .hamburger:active {
    background-color: #20202f;
}

.mobile-navigation .hamburger:hover hr,
.mobile-navigation .hamburger.expanded hr {
    background-color: rgba(93, 93, 122, 0.8);
}

.mobile-navigation .hamburger:active hr {
    background-color: rgba(93, 93, 122, 1);
}

.mobile-navigation ul {
    background-color: #191924;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.1) inset, 0 2px 0 rgba(0, 0, 0, 0.1);
    font-weight: 700;
    height: 0;
    list-style: outside none none;
    margin: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
    -webkit-transition: height 0s 0.2s, opacity 0.2s;
    transition: height 0s 0.2s, opacity 0.2s;
}

.mobile-navigation ul li {
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) inset, 0 2px 0 rgba(0, 0, 0, 0.1);
}

.mobile-navigation ul li a {
    color: #8888b9;
    display: block;
    font-family: "proxima-nova", arial, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 18px;
    padding: 12px 0;
    text-transform: capitalize;
}

.mobile-navigation ul li:hover {
    background-color: #20202f;
}

.mobile-navigation ul li:active {
    background-color: #28283c;
}

.mobile-navigation ul li.donate-li {
    background-color: #20cba1;
}

.mobile-navigation ul li.donate-li:active,
.mobile-navigation ul li.donate-li:hover {
    background-color: #2aedbd;
}

.mobile-navigation ul li.donate-li a.donate {
    color: white;
}


header nav {
    position: relative;
    z-index: 1;
}

header nav a {
    color: #94949d;
    display: inline-block;
    font-size: 14px;
    line-height: 66px;
    padding: 0 12px;
    text-transform: uppercase;
}

header nav a:active,
header nav a:hover,
body header nav a.highlighted {
    color: #2dbb9b;
}

header nav a.donate {
    background-color: #20cba1;
    border-radius: 999px;
    color: white;
    font-family: "proxima-nova", arial, sans-serif;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 0 0 0 8px;
    padding: 0 15px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);

    -webkit-transition: opacity 1s 0.3s, background-color 0.1s;
            transition: opacity 1s 0.3s, background-color 0.1s;
}

header nav a.donate:active,
header nav a.donate:hover {
    background-color: #2aedbd;
    color: white;
}

body.loaded header nav a {
    opacity: 1;
}



body.slow .tk-bebas-neue,
body.slow .tk-proxima-nova {
    font-family: arial, sans-serif !important;
}

body.typekit #battle h1 {
    font-size: 28px;
}

body.typekit #battle p {
    font-size: 20px;
}

body.loaded #battle h1,
body.loaded #battle p {
    opacity: 1;
}

body.loaded #battle p.form-wrapper {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
}

body.loaded #battle p.form-wrapper.loading {
    opacity: 0;
}


/* Politicians */
body #battle .form-wrapper .politicians {
    display: none;
    margin: 0 auto;
    position: relative;
    width: 270px;
}

body #battle .form-wrapper .politicians .politician {
    cursor: pointer;
    display: inline-block;
    height: 150px;
    margin: 0 0 12px;
    position: relative;
    width: 115px;
}

body #battle .form-wrapper .politicians .politician p.name {
    bottom: 2px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    width: 100%;
    z-index: 1;
}

body #battle .form-wrapper .politicians .politician p.stance {
    background: #2e2e3f;
    border-radius: 7px;
    bottom: 0;
    color: #ccc;
    font-size: 8px;
    font-weight: bold;
    line-height: 17px;
    margin: 0 0 0 5px;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    width: 105px;
    z-index: 1;
}

/* body #battle .form-wrapper .politicians .politician.team-cable p.name, */
body #battle .form-wrapper .politicians .politician.team-cable p.stance {
    color: #fc3d41;
}

/* body #battle .form-wrapper .politicians .politician.team-internet p.name, */
body #battle .form-wrapper .politicians .politician.team-internet p.stance {
    color: #20cba1;
}

body #battle .form-wrapper .politicians .politician img {
    border: none;
    border-radius: 7px;
    display: block;
    opacity: 0;
    width: 115px;

    -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
}

@media screen and (min-width: 520px) {
    body #battle .form-wrapper .politicians {
        display: block;
    }

    body #battle .form-wrapper .politicians .politician {
        display: block;
        position: absolute;
    }

    body #battle .form-wrapper .politicians .politician:first-child {
        left: -115px;
        top: 24px;
    }

    body #battle .form-wrapper .politicians .politician:last-child {
        left: 270px;
        top: 24px;
    }

    body #battle .form-wrapper .politicians .politician:first-child img {
        border-radius: 7px 0 0 7px;
    }

    body #battle .form-wrapper .politicians .politician:last-child img {
        border-radius: 0 7px 7px 0;
    }
}

@media screen and (min-width: 900px) {
    body #battle .form-wrapper .politicians {
        width: 540px;
    }

    body #battle .form-wrapper .politicians .politician:last-child {
        left: 540px;
        top: 24px;
    }
}

/* Form */
body #battle #petition {
    background-color: #fff;
    border-radius: 6px;
    color: #505073;
    margin: 28px auto 0;
    width: 270px;
}

body #battle #petition input:first-child {
    border-radius: 6px 6px 0 0;
}

body #battle #petition input {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    color: #505073;
    display: block;
    font-family: "proxima-nova", sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 43px;
    line-height: 19px;
    margin: 0;
    padding: 12px 14px;
    width: 100%;
    -webkit-appearance: none;
}

body #battle #petition input.input-address {
    border-right: 1px solid #ccc;
    float: left;
    width: 150px;
}

body #battle #petition input.input-zip {
    float: left;
    width: 120px;
}

body #battle #petition button {
    background-color: #20cba1;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: "proxima-nova", sans-serif;
    font-size: 19px;
    font-weight: bold;
    line-height: 43px;
    margin: 6px 0 8px;
    text-transform: uppercase;
    width: 250px;

    -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
}

body #battle #petition button:hover {
    opacity: 0.9;
}

body #battle #petition button:active {
    opacity: 0.7;
}

body #battle #petition .right {
    border-bottom: 1px solid #ccc;
    clear: both;
    cursor: pointer;
    height: 92px;
    position: relative;
}

body #battle #petition .right #comment {
    border: none;
    border-radius: 0 6px 0 0;
    color: #ccc;
    font-family: "proxima-nova", sans-serif;
    font-size: 15px;
    height: 90px;
    overflow: hidden;
    padding: 12px;
    width: 100%;
}

body #battle #petition .right .textarea-fade {
    background-image: url(../images/textarea-fade.png);
    background-image: linear-gradient(to 95%, rgba(255, 255, 255, 0),  rgba(255, 255, 255, 1));
    background-position: center bottom;
    background-repeat: repeat-x;
    height: 90px;
    position: absolute;
    width: 100%
}

body #battle #petition .right .edit {
    bottom: 10px;
    color: #2dbb9b;
    font-size: 10px;
    font-weight: 700;
    left: 15px;
    position: absolute;
    text-transform: uppercase;
    /*width: 100%;*/
}

body #battle #petition .right:hover .edit {
    text-decoration:underline
}



/* Experiment: Remove Letter Preview */
body #battle.experiment-remove-letter-preview .form-wrapper {
    width: 320px;
}

body #battle.experiment-remove-letter-preview .form-wrapper #petition {
    width: 270px;
}

body #battle.experiment-remove-letter-preview .form-wrapper #petition .right {
    display: none;
}

@media screen and (min-width: 500px) {
    body #battle.experiment-remove-letter-preview .phone-call-form {
        margin-left: -75px;
    }
}

@media screen and (min-width: 520px) {
    body #battle.experiment-remove-letter-preview .form-wrapper .politicians .politician:last-child {
        left: 270px;
        top: 24px;
    }
}



/* Media Queries */
@media screen and (min-width: 900px) {
    body #battle #petition {
        width: 540px;
    }

    body #battle #petition .left {
        float: left;
    }

    body #battle #petition .right {
        border-left: 1px solid #ccc;
        clear: none;
        float: left;
        height: 129px;
        width: 270px;
    }

    body #battle #petition .right .textarea-fade {
        background-image: linear-gradient(to 90%, rgba(255, 255, 255, 0),  rgba(255, 255, 255, 1));
    }

    body #battle #petition .right #comment,
    body #battle #petition .right .textarea-fade {
        height: 127px;
    }
}






body #battle div.disclaimer_container {
}
body #battle p.disclaimer {
    color: #5d5d7a;
    font-size: 13px;
    display: none;
}

body #battle p.disclaimer a {
    color: #8d8db2;
}

body #battle p.disclaimer a:hover {
    color: #20cba1;
}



/* Phone call form */
body #battle .phone-call-form {
    display: none;
    margin: 0 auto;
    width: 270px;
}

body #battle .phone-call-form header {
    background-color: #5d5d7a;
    border-radius: 6px 6px 0 0;
    font-size: 16px;
    font-weight: bold;
    padding: 26px 30px;
    display: none; /* JL NOTE ~ explicitly added */
}

body #battle .phone-call-form section {
    background-color: #fff;
    border-radius: 6px 6px 0 0;
    color: #7d7d97;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    padding: 0 20px 20px;
}

body #battle .phone-call-form section input {
    border: 1px solid #ccc;
    color: #505073;
    font-family: "proxima-nova", sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 12px;
    width: 200px;
}

body #battle .phone-call-form section .policy {
    line-height: 22px;
    font-weight: normal;
}

body #battle .phone-call-form footer {
    background-color: #c6e5dd;
    border-radius: 0 0 6px 6px;
}

body #battle .phone-call-form footer button {
    background-color: #20cba1;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: "proxima-nova", sans-serif;
    font-size: 19px;
    font-weight: bold;
    line-height: 43px;
    margin: 6px 0 8px;
    text-transform: uppercase;
    width: 250px;

    -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
}

body #battle .phone-call-form footer button:hover {
    opacity: 0.9;
}

body #battle .phone-call-form footer button:active {
    opacity: 0.7;
}

body #battle .phone-call-form footer a.alternative-cta {
    display: block;
    color: #20cba1;
    font-size: 14px;
    padding: 0 0 12px;
}

@media screen and (min-width: 500px) {
    body #battle .phone-call-form {
        width: 420px;
    }
}

body #battle .thanks {
    background-color: #c6e5dd;
    border-radius: 7px;
    display: block;
    margin: 0 auto;
    padding: 15px 20px 10px;
    width: 280px;
}

body #battle .thanks h2 {
    color: #20cba1;
    line-height: 1;
}

/* Modal */

/* Livestream */
#battle section#livestream {
    margin-top: 42px;
}

#battle section#livestream a {
    color: #20cba1;
}

#battle section#livestream .video_wrapper {
    height: auto;
    margin: 30px auto;
    padding-bottom: 25px;
    padding-top: 25px;
    position: relative;
}

#battle section#livestream .video_wrapper img {
    max-width: 100%;
}

#battle section#livestream .twitter-timeline {
    padding: 0 25px;
}

/*270 x 175
420 x 273*/

#battle section h2 {
    font-size: 45px;
    font-weight: 300;
}
#battle section p {
    color: #eee;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    margin: 36px auto 0;
    max-width: 780px;
}

/* Team Cable */
#battle section#team-cable {
    background-color: #1c1c25;
    background-color: black;
    font-family: "proxima-nova", sans-serif;
    margin: 64px 0 0;
    padding: 16px 25px 64px;
}
#battle section#team-cable h2 {

}
#battle section#team-cable p {
    color: #eee;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    margin: 36px auto 0;
    max-width: 768px;
}
#battle section#team-cable img {
    height: 72px;
    min-width: 126px;
    opacity: 0;

    -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
}

/* Team Cable */
#battle section#fcc-commissioners {
    background-color: #27273a;
    font-family: "proxima-nova", sans-serif;
    font-weight: bold;
    margin: 64px 0 0;
    padding: 16px 25px 64px;
}
#battle section#fcc-commissioners h2 {

}
#battle section#fcc-commissioners p {
    color: #eee;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    margin: 36px auto 0;
    max-width: 768px;
}
#battle section#fcc-commissioners .commissioner {
    display: inline-block;
    opacity: 0;
    position: relative;

    -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
}
#battle section#fcc-commissioners .commissioner .name {
    bottom: 12px;
    left: 12px;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
}
#battle section#fcc-commissioners .commissioner .name .first {
    font-size: 16px;
    padding: 0 0 2px;
}
#battle section#fcc-commissioners .commissioner .name .last {
    font-size: 20px;
}
#battle section#fcc-commissioners .commissioner img {
    height: 184px;
    width: 184px;
    vertical-align: bottom;
}

#battle section#fcc-commissioners .key {
    margin: 0 0 16px;
}

#battle section#fcc-commissioners .key h3 {
    border-left: solid 10px #fff;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    line-height: 29px;
    margin: 0 24px 12px;
    padding-left: 10px;
    text-transform: uppercase;
}

#battle section#fcc-commissioners .key h3.cable {
    border-color: #ee4b4c;
}

#battle section#fcc-commissioners .key h3.unknown {
    border-color: #343444;
}

#battle section#fcc-commissioners .key h3.internet {
    border-color: #2dbb9b;
}

/* Team Internet */
#battle section#team-internet {
    background-color: #1f1f2d;
    font-family: "proxima-nova", sans-serif;
    margin: 0px 0 0;
    padding: 16px 25px 64px;
}
#battle section#team-internet h2 {

}
#battle section#team-internet p {

}

#battle section#team-internet .quote-bubble {
    background-color: white;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.9);
    color: black;
    display: none;
    padding: 18px 18px 0;
    position: fixed;
    width: 300px;
    pointer-events: none;

    /* Temporary */
    padding-bottom: 18px;
    right: 0;
    top: 0;
}

#battle section#team-internet .quote-bubble .name {
    color: rgba(49, 49, 66, 1);
    font-weight: bold;
    margin: 0 0 8px;
}

#battle section#team-internet .quote-bubble .quote {
    color: rgba(49, 49, 66, 1);
}

#battle section#team-internet .quote-bubble .quote:after,
#battle section#team-internet .quote-bubble .quote:before {
    color: rgba(49, 49, 66, 0.2);
    content: '"';
    font-weight: bold;
    padding: 0 2px;
}

#battle section#team-internet .quote-bubble .arrow-wrapper {
    height: 4px;
    margin: 0 auto;
    width: 30px;
}

#battle section#team-internet .quote-bubble .arrow-wrapper .arrow {
    background-color: white;
    height: 30px;
    width: 30px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

#battle section#team-internet .supporters {
    margin: 0 auto;
    max-width: 960px;
    overflow: hidden;
}

@media only screen and (max-width: 1100px) {
    #battle section#team-internet .supporters {
        max-width: 720px;
    }
}

@media only screen and (max-width: 790px) {
    #battle section#team-internet .supporters {
        max-width: 480px;
    }
}

@media only screen and (max-width: 600px) {
    #battle section#team-internet .supporters {
        max-width: 240px;
    }
}

#battle section#team-internet .supporters li {
    background-image: url(../images/team-internet-logos.jpg?rev2);
    float: left;
    height: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 60px;
}

#battle section#team-internet .btn {
    background: #4dbca1;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-family: "proxima-nova", sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    margin: 40px auto;
    padding: 0 24px;
    text-align: center;
    text-transform: uppercase;

    -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
}

#battle section#team-internet .btn:hover {
    background-color: #64d0b6;
}

/* Political Scoreboard */
#battle section#political {
    background-color: #111;
    font-family: "proxima-nova", sans-serif;
    padding: 64px 25px 64px;
}
#battle section#political h2 {

}
#battle section#political p {

}
#battle section#political .supporter {
    display: inline-block;
}

/* Learn More */
#battle section#learn-more {
    background-color: #1b1b24;
    font-family: "proxima-nova", sans-serif;
    padding: 16px 25px 64px;
}
#battle section#learn-more h2 {
    margin-bottom: 0;
}
#battle section#learn-more p {

}
#battle section#learn-more .break {
    background-color: red;
    height: 3px;
    margin: 15px auto 30px;
    width: 8%;
}
#battle section#learn-more .video_wrapper {
    height: 0;
    margin: 30px auto;
    padding-bottom: 56.25%;
    padding-top: 25px;
    position: relative;
}
#battle section#learn-more .video_wrapper iframe {
    border-radius: 5px;
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
@media only screen and (min-width: 768px) {
    #battle section#learn-more .video_wrapper {
        height: 399px;
        padding-bottom: 0;
        padding-top: 0;
        width: 640px;
    }

    #battle section#learn-more .video_wrapper iframe {
        border: 10px solid #4c4c64;
    }
}

/* Extra Reading */
#battle section#extra-reading {
    background-color: #313142;
    font-family: "proxima-nova", sans-serif;
    padding: 16px 25px 64px;
}
#battle section#extra-reading h2 {
    margin-bottom: 0;
}
#battle section#extra-reading p {
    margin-top: 0;
}
#battle section#extra-reading p a {
    color: #20cba1;
    font-size: 16px;

    -webkit-transition: color 0.3s;
            transition: color 0.3s;
}
#battle section#extra-reading p a:hover {
    color: #2aedbd;
}
#battle section#extra-reading p .publication {
    color: #ccd;
    font-size: 16px;
    font-style: italic;
}



/* Footer */
.footer-target footer {
  border-top: 4px solid #3b3b58;
  background: #5d5d88;
  color: #c6c6e3;
  padding: 40px 0px 145px 0px;
  text-align: center;
  font-family: 'Proxima Nova', sans-serif;
}
.footer-target footer .built_by {
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.footer-target footer .built_by img {
    margin-top: 10px;
    width: 300px;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.footer-target footer .built_by img:last-child {
    width: 45px;
    vertical-align: middle;
    height: auto;
}
.footer-target footer .org_logo {
  display: inline-block;
  padding: 32px;
}
.footer-target footer .blurb {
  font-size: 23px;
  font-weight: 100;
  padding-bottom: 10px;
}
.footer-target footer .blurb p {
  margin-bottom: 0px;
}
.footer-target footer .blurb a {
  color: white;
}
.footer-target footer .blurb a:hover {
  color: pink;
}
.footer-target footer .blurb small {
  font-size: 14px;
}
.footer-target footer .blurb em {
  margin: 0px 10px 0px 7px;
}
.footer-target footer hr {
  border-top: 1px solid #666694;
  border-left: 0px none transparent;
  border-right: 0px none transparent;
  border-bottom: 0px none transparent;
}
.footer-target footer hr.narrow {
  width: 200px;
}

.footer-target footer .socials {
  padding: 10px 0px 20px 0px;
}
.footer-target footer .socials img {
  margin: 0px 7px;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  left: 12px;
}

.footer-target .shares-container{
    border-radius: 50px;
    background-color: #39394D;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 490px;
    margin: 0px auto;
}

@media screen and (max-width: 520px){
   .footer-target .shares-container{
       border-radius: 25px;
       width: 240px;
   }
}

.footer-target .share-container a:hover{
    color: blue !important;
}
.footer-target .share-container a:visited{
    color: #FFF !important;
}
.footer-target .share-container a:link {
    color: #FFF !important;
}
.footer-target .fb-share-container{
    background-color: #3B5999;
    padding-left:20px;
}
.footer-target .twitter-share-container{
    background-color: #4099FF;
    padding-left:15px;
}
.footer-target .share-container{
    position:relative;
    display:inline-block;
    width: 220px;
    border-radius: 25px;
    text-align:center;
    font-family: "proxima-nova",sans-serif;
    font-size: 11px;
    font-weight:bold;
    line-height: 40px;
    margin: 6px 6px 6px;
    padding-top:3px;
    text-transform: uppercase;
}

#supporters {
  background: #ffffff;
}
body.privacy {
  background-color: #101010;
  background-image: none;
}
body.privacy img {
  margin: 0 0 24px;
  max-width: 500px;
  width: 100%;
}
body.privacy a {
  color: #ffffff;
  font-weight: bold;
}
body.privacy a:hover,
body.privacy a:active {
  text-decoration: underline;
}
body.privacy section.team-internet p {
  text-align: left;
}
body.privacy section.team-internet.fight-for-the-future {
  background-color: #1c1c25;
}

.overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: table;
    display: none;
    z-index: 9001;

    -webkit-transition: opacity 0.4s ease-out 0s, left 0s linear 0s;
            transition: opacity 0.4s ease-out 0s, left 0s linear 0s;
}
.overlay.invisible {
    pointer-events: none;
    opacity: 0;
    left: 99999px;

    -webkit-transition: opacity 0.4s ease-out 0s, left 0s linear 0.5s;
            transition: opacity 0.4s ease-out 0s, left 0s linear 0.5s;
}
.overlay .gutter {
    display: table-cell;
    vertical-align: middle;
}
.overlay .gutter .modal {
    max-width: 550px;
    border-radius: 10px;
    background: white;
    color: black;
    margin: 0px auto;
    padding-bottom: 10px;
    position: relative;
}
.overlay .modal a.close {
    position: absolute;
    right: 10px;
    top: 0px;
    color: black;
    opacity: .4;
    text-decoration: none;
    font-size: 30px;
}
.overlay .modal a.close:hover {
    opacity: .6;
}
.overlay .modal h1 {
    background: #20cba1;
    color: white;
    text-align: center;
    padding: 30px 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.overlay .modal h2 {
    font-size: 16px;
    line-height: 20px;
    padding: 0px 25px;
    margin: 0px auto;
}
.overlay .modal label {
    font-size: 13px;
    display: inline-block;
    width: 130px;
    text-align: left;
}
.overlay .modal label span {
    color: gray;
}
.overlay .modal input {
    width: 280px;
    font-size: 20px;
}
.overlay .modal select {
    width: 280px;
    font-size: 20px;
}
.overlay .modal hr {
    border: 0px;
}
.overlay .modal button {
    display: inline-block;
    margin: 25px auto 20px auto;
    outline: medium none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;

    padding: 0.5em 2em 0.55em;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid #12A1D6;

    background: #32c0f2; /* Old browsers */
    background: -moz-linear-gradient(top, #32c0f2 0%, #028bbb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#32c0f2), color-stop(100%,#028bbb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #32c0f2 0%,#028bbb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #32c0f2 0%,#028bbb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #32c0f2 0%,#028bbb 100%); /* IE10+ */
    background: linear-gradient(to bottom, #32c0f2 0%,#028bbb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32c0f2', endColorstr='#028bbb',GradientType=0 ); /* IE6-9 */

    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;


    color: white;
}
.overlay .modal .no_thanks {
    display: inline-block;
    margin: 0px 10px;
    font-size: 16px;
}
#battle .overlay .modal p {
    color: #888888;
    max-width: 500px;
    margin: 0px auto;
    padding: 30px 25px;
}
#battle .overlay .modal p.nopad {
    padding: 0px 25px;
}
#battle .overlay .modal p.small {
    padding: 20px 25px 20px 25px;
    font-size: 14px;
}

@media screen and (max-width: 480px), screen and (max-height: 480px) {
    #battle .overlay .modal h1 {
        font-size: 18px;
        padding: 15px 10px;
    }
    #battle .overlay .modal h2 {
        font-size: 14px;
        padding: 0px 10px;
    }
    #battle .overlay .modal p, #battle .overlay .modal p.small {
        font-size: 12px;
        line-height: 1.7;
        padding: 10px 10px;
    }
    #battle .overlay .modal a.shareBtn {
        font-size: 0.7em;
        line-height: 40px;
        margin: 10px 7px 10px 7px;
        padding: 0 18px;
    }
    .overlay .modal button {
        margin-bottom: 10px;
    }
}

a.shareBtn {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    font-size: 1.0em;
    -moz-user-select: none;
    text-decoration: none;
    border: 0px none;
    border-radius: 5px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    margin: 15px 7px 15px 7px;
    padding: 0px 23px;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    opacity: .9;
}
a.shareBtn:hover {
    opacity: 1;
}
a.shareBtn.facebook {
    background-color: #3754A9;
}
a.shareBtn.twitter {
    background-color: #2D98D6;
}
.action-bar {
    background: #39394d;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 6px 20px 10px;;
    border-top: 1px solid rgba(255, 255, 255, .1);
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
    font-weight: bold;
    line-height: 45px;
    vertical-align: middle;
    letter-spacing: 1px;
    margin-bottom: -100%;
    -webkit-transition: all 1s;
            transition: all 1s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}
.action-bar.visible {
    margin-bottom: 0px;
}
.action-bar a.x {
    position: absolute;
    right: 10px;
    top: 5px;
    height: 25px;
    line-height: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    background: #29293d;
    color: rgba(255, 255, 255, .5);
    font-weight: normal;
    font-size: 25px;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}
.action-bar a.x:hover {
    color: #29293d;
    background: #aaa;
}
.action-bar a.butt {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    background: #8283b0;
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0px 20px;
    color: white;
    margin-left: 10px;

    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}
.action-bar a.butt > span {
    color: #555579;
    font-size: 20px;
    font-family: "Courier New", sans-serif;
    vertical-align: middle;
    font-weight: bold;
    -webkit-transition: all 0.3s;
        transition: all 0.3s;
    letter-spacing: 0px;
}
.action-bar a.butt:hover > span {
    color: white;
}
.action-bar > div {
    display: inline;
}
.action-bar a.butt:hover {
    text-shadow: 0px 0px 5px white;
    background: #626390;
    color: white;
}
.action-bar a {
    color: white;
    text-decoration: underline;
}
.action-bar a:hover {
    color: pink;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}
@media screen and (max-width: 1200px) {
    .action-bar {
        padding-bottom: 15px;
    }
    .action-bar > div {
        display: block;
    }
}
@media screen and (max-width: 899px) {
    .action-bar {
        display: none;
    }
}

















.sharing-buttons {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 459px) {
    .sharing-buttons {
      display: none;
    }
}

.sharing-buttons li a span {
    display: none;
}

.share-buttons-target .sharing-buttons {
  left: 0px;
  bottom: 0px;
  position: fixed;
  z-index: 99;
  width: 300px;
  text-align: center;
  background: rgba(0, 0, 0, 0);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
}
@media screen and (min-width: 460px) {
  .share-buttons-target .sharing-buttons {
    background: none;
    bottom: auto;
    left: 0;
    position: fixed;
    text-align: auto;
    top: calc((100% - 234px) / 2);
    width: auto;
    z-index: 99;
  }
}
.sharing-buttons li {
  font-weight: bold;
  font-size: 0.8em;
  list-style-type: none;
  margin: 0;
  text-align: left;
  padding: 0px 5px 0px 5px;
  display: inline-block;
}
@media screen and (min-width: 460px) {
  .sharing-buttons li {
    display: block;
    padding: 5px 5px 5px 0;
  }
}
.sharing-buttons li a {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: white;
  display: inline-block;
  height: 100%;
  padding: 7px 7px 3px;
  position: relative;
  text-decoration: none;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
  width: 100%;
}
.sharing-buttons li a span {
    position: absolute;
    top: 7px;
}
@media screen and (min-width: 460px) {
  .sharing-buttons li a {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
.sharing-buttons li a img {
  border: none;
  width: 16px;
  height: 16px;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
          transition: opacity 0.6s;
}
.sharing-buttons li a.facebook {
  background: #3C5A96;
}
.sharing-buttons li a.googleplus {
  background: #DB585A;
}
.sharing-buttons li a.reddit {
  background: #FF4500;
}
.sharing-buttons li a.pressthis {
  background: #1e8cbe;
}
.sharing-buttons li a.tumblr {
  background: #32506E;
}
.sharing-buttons li a.twitter {
  background: #59ADEB;
}
.sharing-buttons li a:hover {
  opacity: 0.9;
}

