body.loading .hidden-prior-to-loading {
    display: none !important;
}

body.loaded .shown-prior-to-loading {
    display: none !important;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-duration: 2s;
    -webkit-animation-name: fadeIn;
    animation-duration: 2s;
    animation-name: fadeIn;
}

.isotope {
    clear: both;
    position: relative;
    min-height: 240px;
}

section.political {
    background: #15151c url(map.png) center 30px no-repeat;
    color: #c7bdd5;
    font-family: 'Proxima Nova',sans-serif;
    font-weight: 300;
    padding: 40px 0;
    text-align: center;
}

@media only screen and (min-width:768px) {
    section.political {
        padding: 60px 20px;
    }
}

section.political h2 {
    font-size: 28px;
    font-weight: 300;
    margin: 10 0 32px;
    padding-top: 10px;
    color: #fff;
}

@media only screen and (min-width:768px) {
    section.political h2 {
        margin: 0 0 12px;
        font-size: 50px;
    }
}

section.political p {
    font-size: 18px;
    margin: 12px auto 20px;
    max-width: 650px;
    padding: 0 20px;
}

@media only screen and (min-width:768px) {
    section.political p {
        padding: 0;
    }
}

section.political hr {
    background-color: #313141;
    border: 0;
    height: 1px;
    margin: 0 auto;
    max-width: 740px;
}

section.political .key h3 {
    border-left: solid 10px #fff;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    line-height: 29px;
    margin: 24px 12px 0;
    padding-left: 10px;
    text-transform: uppercase;
}

section.political .key h3.cable {
    border-color: #ee4b4c;
}

section.political .key h3.unknown {
    border-color: #343444;
}

section.political .key h3.internet {
    border-color: #2dbb9b;
}

section.political .cash {
    background-color: #292937;
    margin: 12px auto;
    padding: 8px;
    height: 48px;
    max-width: 580px;
}

section.political .cash .spending {
    float: left;
    height: 31px;
    line-height: 31px;
}

section.political .cash .spending .money-sign {
    float: left;
    font-size: 24px;
    font-weight: 700;
    margin-left: 7px;
}

section.political .cash .spending .amount {
    float: left;
    font-size: 16px;
    font-weight: 700;
    margin-left: 6px;
    text-decoration: underline;
}

section.political .cash .spending.cable {
    background-color: #ee4b4c;
    width: 70%;
}

section.political .cash .spending.internet {
    background-color: #2dbb9b;
    width: 30%;
}

section.political select {
    font-size: 30px;
    color: #000;
    padding: 10px;
    cursor: pointer;
    background: #c7bdd5;
}

section.political select:hover {
    background: #eee;
}

section.political select option {
    color: #000;
}

section.political .isotope {
    margin: 28px auto 0;
    padding: 0;
}

section.political .isotope.no-transitions .politician {
    transition-property: none!important;
}

section.political .isotope .politician {
    color: #fff;
    height: 190px;
    position: relative;
    width: 150px;
}

section.political .isotope .politician img {
    height: 100%;
    width: 100%;
}

section.political .isotope .politician .details {
    bottom: 6px;
    padding: 0 0px;
    position: absolute;
    text-shadow: 1px 1px 1px rgba(0,0,0,.7);
    width: 100%;
}

section.political .isotope .politician .details .name {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0;
}

section.political .isotope .politician .details .organization {
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
}

section.political .isotope .politician .twitter {
    background-color: rgba(0,0,0,.6);
    color: #fff;
    font-weight: 700;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}
section.political .isotope .politician .twitter .tweet_link {
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -60px;
    bottom: 97px;
    width: 120px;
    height: 35px;
    background: #1abcc2;
    line-height: 35px;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    color: white;
    margin-top: 40px;
    -webkit-transition: margin-top .3s;
    transition: margin-top .3s;
}
section.political .isotope .politician .twitter .more_link {
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -60px;
    bottom: 53px;
    width: 120px;
    height: 35px;
    background: #4dbca1;
    line-height: 35px;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    color: white;
    margin-top: 40px;
    -webkit-transition: margin-top .3s;
    transition: margin-top .3s;
}
section.political .isotope .politician .twitter img {
    border: none;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
section.political .isotope .politician .twitter:hover .tweet_link {
    margin-top: 0;
}
section.political .isotope .politician .twitter .tweet_link:hover {
    text-decoration: none;
}
section.political .isotope .politician .twitter .more_link:hover {
    text-decoration: none;
}


section.political .isotope .politician .twitter:hover {
    opacity: 1;
}



section.political .isotope .politician.small {
    height: 190px;
    width: 150px;
}

section.political .isotope .politician.small .details {
    bottom: 6px;
}

section.political .isotope .politician.small .details .name {
    border-bottom: 0;
    font-size: 15px;
    margin-bottom: 0;
}

@media only screen and (min-width:480px) {
    section.political .isotope .politician {
        height: 380px;
        width: 300px;
    }

    section.political .isotope .politician .details {
        bottom: 15px;
    }

    section.political .isotope .politician .details .name {
        border-bottom: 1px solid rgba(46,46,46,.5);
        font-size: 22px;
        margin-bottom: 6px;
    }
}

section.political .isotope .politician .color {
    background-color: rgba(231,75,76,.5);
    height: 100%;
    position: absolute;
    width: 100%;
}

section.political .isotope .politician.team-cable .color {
    background-color: rgba(234,37,37,.5);
}

section.political .isotope .politician.half-good .color {
    background: linear-gradient(to right,rgba(44,188,155,.5) 0,rgba(52,52,68,.5) 40%);
}

section.political .isotope .politician.undecided .color {
    background-color: rgba(46,46,80,.5);
}

section.political .isotope .politician.team-internet .color {
    background-color: rgba(44,188,155,.5);
}

section.political .cash-note {
    font-size: 13px;
}

section.political .cash-note a {
    color: #2dbb9b;
    font-weight: 700;
    text-decoration: underline;
}

section.political a.btn {
    font-size: 24px;
    margin: 32px 0 0;
    padding: 10px 22px;
}

@media only screen and (min-width:768px) {
    section.political a.btn {
        font-size: 32px;
    }
}

section.political a.btn.btn-all {
    background-color: #7573bc;
    color: #fff;
    margin-bottom: 32px;
    font-size: 22px;
    padding: 3px 10px;
}

section.political a.btn.btn-all:hover {
    background-color: #605fa2;
}
