#leaderboard {
	h4 {
		font-size: 30px;
		color: $WHITE;
		margin: 0px;
		font-weight: normal;
		span {
				display: inline-block;
	    		border-bottom: 1px solid #2d2a4e;
	    		padding: 0px 10px;
	    		padding-bottom: 9px;
		}
	}

	.leaderboard-total,
	.leaderboard-week,
	.leaderboard-day {
		float: left;
		width: 33%;
		text-align: center;
		p {
			color: $WHITE_BRIGHT;
			font-size: 36px;
			margin-top: 0px;
			width: auto;
			font-weight: bold;
		}
	}
	.leaderboard-top {
		clear: both;
		text-align: center;
		margin-bottom: 8em;
		position: relative;
		h4 {
			font-size: 32px;
			margin-bottom: 15px;
		}
		ul {
			list-style-type: none;
			margin: 0px;
			padding: 0px;
			li {
				color: $WHITE_BRIGHT;
				font-size: 16px;
				margin: 7px 0;
			}
		}
		ul {
			max-height: 215px;
			overflow: hidden;
			transition: max-height 0.5s ease-in;
		}
		.leaderboard-open {
			position: absolute;
			bottom: 0px;
			left: 0px;
			width: 100%;
			height: 215px;
			background: linear-gradient(0deg, rgba(23, 22, 41, 1.0), rgba(23, 22, 41, 0.0));
			opacity: 1.0;
			transition: opacity 0.5s ease-in;
			span {
				cursor: pointer;
				position: absolute;
				bottom: 0px;
				left: 0px;
				width: 100%;
				&:hover {
					color: $WHITE_BRIGHT;
				}
			}
		}
	}
	.leaderboard-top.open {
		ul {
			max-height: 9000px;
		}
		.leaderboard-open {
			opacity: 0;
		}
	}
}

	@media screen and (max-width: 600px) {
	#leaderboard {
		.leaderboard-day {
			width: 100%;
		}
			.leaderboard-week {
			width: 100%;
		}
			.leaderboard-total {
			width: 100%;
		}

	}	
	}






