<section class="form">
  <form class="call" action="<%=action%>">
    <header>
      <h3>Call to defend net neutrality!</h3>
      <p>Enter your number and we'll connect you to Congress and the FCC.</p>
    </header>
    <main>
      <input type="tel" name="userPhone" placeholder="Enter your phone #"/>
      <button>Call</button>
    </main>
    <footer>
      <button>Call Congress</button>
      <p class="disclaimer">Your phone number will only be used to make this call. <a href="/privacy" target="_blank">Privacy Policy</a></p>
    </footer>

    <input type="hidden" name="campaignId" value="<%=campaignId%>" />
  </form>
</section>
