<section id="cisa" class="cisa fadeIn">
<h2>
CISA is now worse than ever.
</h2>
<img onload="this.style.opacity=1;" src="images/deptjustice.png">
<img onload="this.style.opacity=1;" src="images/deptodni.png">
<img onload="this.style.opacity=1;" src="images/depttreasury.png">
<img onload="this.style.opacity=1;" src="images/deptcommerce.png">
<img onload="this.style.opacity=1;" src="images/deptdefense.png">
<img onload="this.style.opacity=1;" src="images/deptenergy.png">
<img onload="this.style.opacity=1;" src="images/depthomelandsecurity.png">
<p class="small">Don't know about CISA? <a href="https://www.obamadecides.org" target="_blank">Click here!</a></p>
<p>
In the weeks since the Senate approved CISA, Speaker Paul Ryan has
been busy stripping privacy protections from the bill. Now CISA is much worse
than the version President Obama threatened to veto, but Ryan is trying
to tack it onto a must-pass budget bill that Obama can't veto without
shutting down the government. Here are the latest changes:
<ul>
<li>
    Removed prohibition of information being shared automatically with NSA and
    DOD (H.R. 1560). Instead, information may be shared directly with DOD and NSA.
</li>
<li>
    Removes prohibition on using CISA for “surveillance” activities.
</li>
<li>
    Removes limitation that government can only use collected info for
    cybersecurity purposes (House Homeland Security Bill H.R.1731). Instead,
    they can use this shared info to prosecute other crimes
    (which increases the incentive for them to collect and retain more personal
    information, whether it is related to cybersecurity or not).
</li>
<li>
    Removes requirement that government scrub personal information unrelated to a
    cybersecurity threat before sharing information. (H.R.1731 had this requirement).
    Instead, scrubbing is at discretion of Agency.
</li>
</ul>
</p>
<p>
Separately, Paul Ryan is also trying to
<a href="https://www.govtrack.us/congress/bills/114/hr3654/text" target="_blank">pass a bill (H.R.3654)</a>
that would allow the government to coerce Internet companies into sharing as much
private data as possible with the NSA. With CISA, we're no longer talking about a
mass surveillance bill. This is a mass incarceration bill.
</p>
</section>
