<section id="town-hall" class="town-hall fadeIn">
    <h2>But now Team Cable is back. Here's how to stop them.</h2>
    <p>FCC Chair and former Verizon employee Ajit Pai is determined to gut the net neutrality rules we won. We need to convince our Senators to vote against his reconfirmation as FCC Chair. <a href="#battle">Contact them now</a> and then use this map to find a town hall meeting near you!</p>
    <div id="can-event_campaign-area-stand-up-for-net-neutrality-at-town-hall-events"></div>
</section>
