@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

[v-cloak], .hidden {
  display: none;
}

/* These elements will only be visible to screen readers */
.sr-only {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

body, input {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

h1, h2, h3, h4, h5,
.btn {
  font-family: Montserrat, sans-serif;
  line-height: 1.2;
}

*, *:before, *:after {
  box-sizing: border-box;
}

img {
  max-width: 100%
}

body {
  color: #a2b0ca;
  background-color: #161a29;
  text-align: center;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, b, strong {
  font-weight: 700;
}

h1, h2, strong {
  color: #fff;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  color: #f6ec40;
  font-size: 24px;
  margin: 10px 0;
}

a {
  color: #f6ec40;
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}

.yellow {
  color: #f6ec40 !important;
}

.clearfix:after {
  content:"";
  display:block;
  clear:both;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

ul.flex {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.flex li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  color: #ff1a09;
}

.container {
  width: 500px;
  max-width: 90%;
  margin: auto;
}

#header {
  background-image: url("../images/clouds.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 295px;
  padding-top: 30px;
  margin-bottom: 110px;
}

#header .logo {
  display: block;
  height: 325px;
  width: auto;
  margin: auto;
}

section {
  margin: 0 0 60px;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  border: none;
  font-size: 16px;
  padding: 12px;
  border-radius: 4px;
  font-weight: bold;
  width: 100%;
}

input::placeholder,
textarea::placeholder {
  color: #13161c;
  font-weight: normal;
}

form .row {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

form .row input,
form .row .btn {
  flex: 1;
  margin-right: 2%;
}

form .row input:last-child {
  margin-right: 0;
}

form .large-audience {
  text-align: left;
  font-size: 96%;
  margin: 10px 0;
}

form .large-audience label {
  margin-bottom: 4px;
  display: block;
}

.btn {
  color: #13161c;
  background-color: #f6ec40;
  border: none;
  display: block;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  border-radius: 4px;
  padding: 12px 24px;
  text-transform: uppercase;
}

.disclaimer {
  margin-top: 8px;
  color: #596680;
}

.disclaimer small {
  display: block;
  font-size: 70%;
}

.disclaimer a {
  color: #b8c3e4;
}

#join h2 {
  color: #f6ec40;
  font-size: 20px;
}

#join form {
  margin-top: 30px;
}

#participants li {
  padding: 0;
  height: 60px;
  background-color: #fff;
  border-radius: 4px;
  width: 31%;
  margin: 5px;
}

#participants li img {
  max-width: 90%;
  max-height: 80%;
}

#widgets textarea {
  width: 100%;
  font-size: 13px;
  height: 4em;
  font-family: monospace;
  font-weight: normal;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
}

#widgets .widgets li {
  width: 47%;
  margin: 1%;
}

#widgets .widgets img {
  border-radius: 8px;
}

#social .loaders img {
  padding: 10px;
  width: 100px;
  height: 100px;
}

#footer {
  width: 700px;
  max-width: 90%;
  margin: 50px auto;
}

#footer hr {
  border-top: 1px solid #666694;
  border-left: 0px none transparent;
  border-right: 0px none transparent;
  border-bottom: 0px none transparent;
}

#footer .logos {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#footer .logos a {
  max-width: 90%;
  max-height: 80%;
  height: 60px;
  background-color: #fff;
  border-radius: 4px;
  width: 31%;
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer .logos a img {
  max-width: 90%;
  max-height: 80%;
}

#share-buttons {
  animation: fade-in .5s;
  top: 0;
  left: 0px;
  bottom: 0px;
  position: fixed;
  z-index: 99;
  width: 64px;
}

#share-buttons .share-button {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 0 2px 2px 0;
}

#share-buttons .facebook {
  background-color: #3C5A96;
  margin-bottom: 10px;
}

#share-buttons a.twitter {
  background-color: #59ADEB;
}

body.modal-open {
  overflow: hidden;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: scroll;
  animation: fade-in .2s;
  z-index: 1984;
}

.modal {
  width: 470px;
  margin: auto;
  position: relative;
  background-color: #0f1219;
  border-radius: 8px;
}

.modal h3 {
  margin-top: 20px;
}

.modal h4 {
  color: #fff;
  font-weight: normal;
}

.modal blockquote {
  display: block;
  font-style: italic;
  margin: 20px 0;
}

.modal .tip {
  background-color: #24233d;
  color: #fff;
  background-image: url(/images/tip-icon.png);
  background-size: 15px 15px;
  background-position: 8px center;
  background-repeat: no-repeat;
  font-size: .92em;
  padding: 8px 8px 8px 30px;
}

.modal .close {
  position: absolute;
  right: 8px;
  top: 0;
  font-size: 28px;
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  border: none;
}

.modal main {
  margin: 20px 30px;
}

.modal form .row .btn {
  font-size: 18px;
  padding-left: 0;
  padding-right: 0;
}

.modal .share .row {
  display: flex;
  margin-top: 10px;
}

.modal .share .row .btn {
  flex: 1;
}

.modal .share .btn {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  display: inline-block;
  width: auto;
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: 24px;
  padding-left: 40px;
  margin-right: 10px;
}

.modal .share .btn:last-child {
  margin-right: 0;
}

.modal .share .btn.facebook {
  background-color: #3C5A96;
  background-image: url(/images/share/facebook_white.svg);
}

.modal .share .btn.twitter {
  background-color: #59ADEB;
  background-image: url(/images/share/twitter_white.svg);
}

.modal .share .btn.donate {
  background-image: url(/images/heart.svg);
  background-color: #3a4459;
  background-size: 18px;
}

.modal .share .btn.protest {
  background-color: #59ADEB;
  background-image: url(/images/location-icon.png);
  background-size: 15px auto;
  background-position: 15% center;
  border: 1px solid #282f3e;
  background-color: transparent;
}

.modal header {
  background-color: #171b24;
  padding: 30px 30px 10px;
  border-radius: 8px 8px 0 0;
}

.modal img.can-you-call {
  width: 366px;
}

.modal img.calling-you-now {
  width: 222.5px;
}

@keyframes blink-last-bar {
  from { 
    background-color: #f7ea54;
    box-shadow: 0px 0px 8px 2px rgba(246, 236, 64, 0.5); 
  }
  to {
    background-color: #a1afc8;
    box-shadow: none;
  }
}

.progress-bar-container {
  height: 20px;
  padding-top: 5px;
  background-color: #161a29;
}

.progress-bar {
  animation: fade-in 3s;
  white-space: nowrap;
}

.progress-bar .bar {
  display: inline-block;
  height: 20px;
  width: 6px;
  background-color: #f7ea54;
  border-radius: 3px;
  margin: 0 2px;
}

.progress-bar .bar.active {
  background-color: #a1afc8;
}

.progress-bar.done .bar:last-child {
  animation: blink-last-bar 1.5s infinite;
  animation-delay: .5s;
}

.fade-in {
  animation: fade-in .5s;
}

@media screen and (min-width: 601px) {
  .mobile-only {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .desktop-only {
    display: none;
  }

  #header {
    height: auto;
    margin-bottom: 0;
    padding-top: 10px;
  }

  #header .logo {
    height: auto;
  }

  #participants li {
    width: 47%;
  }

  #share-buttons {
    display: none;
  }

  #everyone .loaders img {
    width: 75px;
    height: 75px;
  }
}
