/* This file is injected into every Vue component */

$PAGE_WIDTH: 800px;
$TEXT_WIDTH: $PAGE_WIDTH;
$BODY_BGCOLOR: #171629;
$STATS_BGCOLOR: #111120;
$STATS_HEIGHT: 52px;
$STATS_COLOR: #83839e;
$STATS_HLCOLOR: #46b8ff;
$HEADER_FBCOLOR: #279cff;
$HEADER_COLORA: #fd4935;
$HEADER_COLORB: #fd6d5a;
$WHITE: #CCCAEA;
$WHITE_BRIGHT: #FFF;
$RED: #f94220;
$LT_BORDER: #393558;
$GRAY_DARK: #717093;
$GRAY_LIGHT: #b1aedc;
$TEAM_INTERNET_GREEN: #45bcc0;
$TEAM_CABLE_RED: #ff1a09;

// ^ old stuff

$body-font: "Open Sans", sans-serif;
$title-font: Montserrat, sans-serif;
$link-color: #6388ed;
$header-color: #fd4935;
$facebook-blue: #3C5A96;
$twitter-blue: #2ecbf8;
$team-internet-blue: #45bcc0;
$button-primary: #f94220;
$border-radius: 4px;

@mixin mobile {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 481px) {
    @content;
  }
}
