/* This file is injected into every Vue component */

$body-font: "Open Sans", sans-serif;
$title-font: "Poppins", sans-serif;
$body-color: #fefefe;
$body-bg-color: #171629;
$alt-bg-color: #201b2c;
$border-color: #393558;
$link-color: #26afff;
$header-color: #fff;
$secondary-header-color: #fff;
$facebook-blue: #3C5A96;
$twitter-blue: #2ecbf8;
$team-internet-green: #45bcc0;
$team-cable-red: #ff1a09;
$muted-text-color: #717093;
$muted-link-color: #b1aedc;
$button-primary: #352d47;
$border-radius: 5px;
$container-width: 600px;

@mixin mobile {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

@mixin big-screen {
  @media only screen and (min-width: $container-width) {
    @content;
  }
}

@mixin small-screen {
  @media only screen and (max-width: $container-width - 1px) {
    @content;
  }
}

@mixin daytons-lenovo {
  @media only screen and (max-height: 700px) and (min-width: 1000px) {
    @content;
  }
}

@mixin btn-icon($icon-url, $width, $height) {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:before {
    background-image: url($icon-url);
    background-size: cover;
    display: inline-flex;
    width: $width;
    height: $height;
    content: "";
    margin-right: .4rem;
  }
}
