@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

html {
  font-size: 62.5%;

  @include mobile {
    font-size: 52.5%;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

[v-cloak], .hidden {
  display: none;
}

h1, h2, h3, h4, h5,
input, textarea, .btn, select {
  font-family: $title-font;
  font-weight: 700;
  line-height: 1.2;
}

img {
  max-width: 100%;
}

body {
  font-size: 1.8rem;
  font-family: $body-font;
  line-height: 1.5;
}

h1, h2 {
  line-height: 1.15;

  a, a:hover {
    color: inherit;
  }
}

h1 {
  color: $header-color;
  font-size: 5rem;
  letter-spacing: 0.1rem;

  @include mobile {
    font-size: 4.2rem;
  }
}

h2 {
  color: $secondary-header-color;
  font-size: 3.5rem;
  margin: 2rem 0;
}

p {
  margin: 1.5rem 0;
}

a {
  color: $link-color;
  text-decoration: underline;
  font-weight: 600;
  transition: color .3s;

  &:hover {
    color: darken($link-color, 10%);
  }
}

.clearfix:after {
  content:"";
  display:block;
  clear:both;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.flex-row {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-bottom: 1rem;

  > * {
    flex: 1;
    margin-right: 1rem;
    min-width: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.flex-2 {
  flex: 2;
}

.push-top-0 {
  margin-top: 0rem;
}

.push-top-1 {
  margin-top: 1rem;
}

.push-top-2 {
  margin-top: 2rem;
}

.push-top-3 {
  margin-top: 3rem;
}

.push-top-4 {
  margin-top: 4rem;
}

.pad-top-3 {
  padding-top: 3rem;
}

.upcase {
  text-transform: uppercase;
}

.inherit-color {
  color: inherit;
}

.rounded {
  border-radius: $border-radius;
}

.fade-in {
  animation: fade-in .4s;
}

input, textarea, select {
  border: none;
  font-size: 1.7rem;
  padding: 1.5rem 1rem;
  border-radius: $border-radius;
  font-weight: bold;
  width: 100%;
  background-color: #fff;

  &::placeholder {
    color: lighten(#13161c, 30%);
    font-weight: 300;
  }
}

select {
  width: auto;
}

textarea {
  font-size: 1.4rem;
}

code {
  display: block;
  margin: 1.5rem 0;
  padding: 1rem;
  font-size: 1.4rem;
  background-color: $body-color;
  color: $body-bg-color;
  border-radius: $border-radius;
  overflow: hidden;
}

.disclaimer {
  margin: 0.5rem 0;

  small {
    display: block;
    font-size: 1.1rem;
    line-height: 1.33;
    color: $muted-text-color;

    a {
      color: $muted-link-color;
    }
  }
}

p.error {
  color: $team-cable-red;
}

button {
  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }
}

.btn {
  padding: 0.7rem 1.4rem;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  background-color: $button-primary;
  color: #fff;
  border: none;
  border-radius: $border-radius * 1.5;
  font-size: 1.2rem;
  transition: background-color .1s;

  &:hover {
    color: #fff;
    background-color: lighten($button-primary, 5%);
    cursor: pointer;
  }
}

.btn-block {
  display: block;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn-large {
  font-size: 2.4rem;
  padding: 1.4rem 2.8rem;
}

.btn-facebook {
  background-color: $facebook-blue;
  @include btn-icon('~/assets/images/facebook_white.svg', 24px, 24px);

  &:hover {
    background-color: darken($facebook-blue, 10%);
  }
}

.btn-twitter {
  background-color: $twitter-blue;
  @include btn-icon('~/assets/images/twitter_white.svg', 24px, 24px);

  &:hover {
    background-color: darken($twitter-blue, 10%);
  }
}

.btn-donate {
  @include btn-icon('~/assets/images/heart.svg', 16px, 14px);
  background-color: #39375b;

  &:hover {
    background-color: darken(#39375b, 10%);
  }
}

.container {
  max-width: 90%;
  margin: auto;
}

ul.logo-grid {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    padding: 0;
    height: 7rem;
    border-radius: $border-radius;
    background-color: #fff;
    width: 25%;
    margin: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @include mobile {
      width: 48%;
      margin: 1%;
    }

    img {
      max-width: 80%;
      max-height: 80%;
    }
  }
}

iframe.events-map {
  width: 100%;
  height: 350px;
  background-color: #fff;
  border: none;
  border-radius: $border-radius;

  @include mobile {
    height: 250px;
  }
}

.letter-wrapper {
  position: relative;
  padding: 2rem;
  background: $body-color;
  color: $alt-bg-color;
  text-align: left;
}
.letter-wrapper:before,
.letter-wrapper:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
  width: 0;
  border: 20px solid transparent;
}
.letter-wrapper:before {
  border-bottom-color: $muted-link-color;
  border-left-color:    $muted-link-color;
}
.letter-wrapper:after {
  border-top-color:   $body-bg-color;
  border-right-color: $body-bg-color;
}
