/* move this stuff into bftn-basic.css */

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

[v-cloak], .hidden {
  display: none;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

h1, h2, h3, h4, h5,
.btn {
  font-family: Montserrat, sans-serif;
  line-height: 1.2;
}

*, *:before, *:after {
  box-sizing: border-box;
}

img {
  max-width: 100%
}

body {
  background-color: #171629;
  color: #CCCAEA;
  background-image: url("/images/v2-bg-noise.png");
  background-repeat: no-repeat;
  background-position: center top;
}

h1, h2 strong {
  color: #fd4935;
}

h1 {
  font-size: 48px;
  line-height: 1.1;
  text-transform: uppercase;
}

h2, h3 {
  color: #fff;
}

a {
  color: #2ecaf8;
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}

.clearfix:after {
  content:"";
  display:block;
  clear:both;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.btn {
  padding: 7px 14px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #f94220;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  transition: background-color .1s;
}

.btn:hover {
  background-color: #e25237;
  cursor: pointer;
}

.btn-tweet {
  background-color: #2ecaf8;
}

.btn-tweet:hover {
  background-color: #0691ba;
}

.btn-facebook {
  background-color: #3C5A96;
}

.btn-facebook:hover {
  background-color: #30465b;
}

.btn-block {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-large {
  font-size: 24px;
  padding: 14px 28px;
}

.container {
  width: 800px;
  max-width: 96%;
  margin: auto;
}

.bftn-footer {
  background-color: #1f1c35;
  padding: 30px 30px 0px 30px;
  margin-top: 100px;
}
.bftn-footer .logos {
  padding: 20px 0;
  border-bottom: 2px solid #393558;
  text-align: center;
}
.bftn-footer .logos a {
  line-height: 62px;
}
.bftn-footer .logos .fftf {
  margin-right: 40px;
  position: relative;
  top: -6px;
}
.bftn-footer .logos .demandprogress {
  position: relative;
  top: 8px;
  margin-right: 40px;
}
.bftn-footer .press-inquiries {
  width: 65%;
  float: left;
  padding-top: 10px;
  font-weight: bold;
  color: #717093;
}
.bftn-footer .press-inquiries ul {
  font-weight: bold;
  list-style-type: none;
  padding: 0;
}
.bftn-footer .press-inquiries ul li {
  margin: 0 0 8px 0;
}
.bftn-footer .social-media {
  float: left;
  height: 90px;
  width: 30%;
  margin-left: 5%;
}
.bftn-footer .social-media a, .bftn-footer .social-media div.faux-a {
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
  height: 50px;
  padding: 0 45px 0 15px;
  line-height: 50px;
  border-radius: 25px;
  text-transform: uppercase;
  text-align: center;
}
.bftn-footer .social-media a span, .bftn-footer .social-media div.faux-a span {
  margin-left: 5px;
}
.bftn-footer .social-media img {
  position: absolute;
  height: 40px;
  top: 5px;
  right: 15px;
}
.bftn-footer .social-media .twitter {
  background-color: #2ecaf8;
  margin-top: 70px;
  margin-bottom: 10px;
}
.bftn-footer .social-media .twitter:hover {
  background-color: #44bee2;
}
.bftn-footer .social-media .facebook {
  background-color: #224769;
}
.bftn-footer .social-media .facebook:hover {
  background-color: #30465b;
}
.bftn-footer .built-by {
  clear: both;
  font-weight: bold;
  text-align: center;
  width: 300px;
  margin: 40px auto 0;
  background-color: #171629;
  padding: 20px 0 40px;
  line-height: 1em;
  color: #717093;
  border-radius: 3px 3px 0 0;
}
.bftn-footer .built-by img {
  position: relative;
  top: 2px;
}

body.modal-open {
  overflow: hidden;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: scroll;
  animation: fade-in .2s;
}

.modal {
  width: 700px;
  margin: auto;
  position: relative;
  background-color: #fff;
  color: #06032e;
  padding: 15px 30px;
  border-radius: 8px;
}

.modal .close {
  position: absolute;
  right:6px;
  top: -3px;
  color: #fff;
  font-size: 36px;
  text-decoration: none;
  background-color: transparent;
  color: #06032e;
  border:none;
}


/* site-specific */

section {
  text-align: center;
  margin: 60px 0;
}

.businesses:after {
  content:"";
  display:block;
  clear:both;
}

.businesses strong {
  color: #fff;
}

.business-row {
  font-size: 90%;
  width: 25%;
  padding: 10px;
  float: left;
}

.business-row .content {
  background-color: #1f1c35;
  border-radius: 8px;
  padding: 10px;
}

.business-row .logo {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background-color: #fff;
  margin-bottom: 5px;
  border: 1px solid #CCCAEA;
}

.business-row .name-location {
  min-height: 95px;
}

.business-row address {
  font-style: normal;
  font-size: 92%;
}

.business-row .btn-tweet {
  font-size: 120%;
  width: 80%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  border: none;
  font-size: 16px;
  padding: 12px;
  border-radius: 4px;
  font-weight: bold;
  width: 100%;
}

input::placeholder,
textarea::placeholder {
  color: #13161c;
  font-weight: normal;
}

form {
  margin: auto;
  width: 96%;
}

form .row {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-bottom: 10px;
}

form .row input {
  width: 49%;
  margin-right: 2%;
}

form .row input:last-child {
  margin-right: 0;
}

form .large-audience {
  text-align: left;
  font-size: 96%;
  margin: 10px 0;
}

form .large-audience label {
  margin-bottom: 4px;
  display: block;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 32px;
  }

  .business-row {
    width: 33%;
    padding: 6px;
  }
}

@media screen and (max-width: 450px) {
  section:first-child {
    margin-top: 0;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  .business-row {
    width: 50%;
    padding: 6px;
  }
}

.facebook div.sp_fb_large a {
  color: transparent;
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
