body#developer {
    background-image: url(../images/tools/countdown-background.jpg);
}

@media screen and (max-width: 320px) {
    .jumbotron.developer iframe.banner {
        left: -15px;
        position: relative;
    }
}

@media screen and (max-width: 420px) {
    section.sign-up .signup .input-group {
        display: block;
        width: 100%;
    }

    section.sign-up .signup .input-group #email {
        display: block;
        width: 100%;
    }

    section.sign-up .signup .input-group .input-group-btn {
        clear: both;
        display: block;
        width: 100%;
    }

    section.sign-up .signup .input-group .input-group-btn button {
        border-radius: 0 0 1px 1px;
        display: block;
        margin: 0;
        width: 100%;
    }
}
section.widget .codebox.round {
    border-radius: 10px;
}

.jumbotron.developer .signup {
    padding-bottom: 0px;
}