<section id="fftf-call-congress" class="form">
  <form class="call" id="call-congress-form">
    <header>
      <p>Please enter your phone number below — we will call you, provide you with a short script, and connect you with relevant policymakers.</p>
    </header>
    <section>
      <input type="tel" id="userPhone" placeholder="555-555-5555"/>
    </section>
    <footer>
      <button>Call Congress</button>
      <p class="disclaimer">Your phone number will only be used to make this call. <a href="/privacy" target="_blank">Privacy Policy</a></p>
    </footer>
  </form>
  <!-- Phone script -->
  <div id="phone-script" style="display: none; padding: 1px 20px 20px 20px;">
    <h3>We are calling you now.  We are going to connect you with your own lawmakers first, and then with other lawmakers who have a say over net neutrality.</h3>
    <h3>You can press * to move from one call to the next, and can hang up whenever you like — but each call you complete will make our movement more powerful.</h3>
    <h3>You can say:</h3>
    <blockquote>
      <p style="text-align: left;">In 2015 -- after millions of us spoke out -- the Federal Communications Commission put strong net neutrality rules in place. They protect the internet and make sure that Americans can use it for speech, commerce, and other important functions.</p>
      <p style="text-align: left;">Now the FCC is trying to undo those rules and let internet service providers manipulate our data to suit their corporate interests. I oppose the FCC’s efforts to roll back Title II net neutrality rules -- and I urge you to oppose them as well.</p>
    </blockquote>
  </div>
</section>
