<div class="your-senators-target"></div>

<form action="https://queue.fightforthefuture.org/email_europe_blanket" method="POST" class="group" name="petition" id="petition">
    <input type="text" id="name" name="name" class="form-control input-name top" placeholder="Your name" title="FULL NAME" required>

    <input type="text" id="email_addr" name="email" class="form-control input-email" placeholder="Email" title="EMAIL" required>

    


    <button type="submit">EMAIL YOUR M.E.P.s</button>
</form>

<section class="thanks" style="display: none;">
    <h2>
        Check your email!
    </h2>
</section>

<div class="tk-proxima-nova disclaimer_container">
    <p class="disclaimer copy" id="randomize_disclosure">
        <a target="_blank" href="https://www.fightforthefuture.org/" target="_blank">Fight for the Future</a>, <a target="_blank" href="https://demandprogress.org" target="_blank">Demand Progress</a> or <a target="_blank" href="http://www.freepress.net/" target="_blank">Free Press Action Fund</a> will contact you about future campaigns. <a target="_blank" href="/privacy/" target="_blank">Privacy</a>
    </p>
</div>
