<div class="your-senators-target"></div>

<form action="https://queue.fightforthefuture.org/email_europe_blanket" method="POST" class="group" name="petition" id="petition">
    <input type="text" id="name" name="name" class="form-control input-name top" placeholder="Your name" title="FULL NAME" required>

    <input type="text" id="email_addr" name="email" class="form-control input-email" placeholder="Email" title="EMAIL" required>

    


    <button type="submit">EMAIL THEM NOW!</button>
</form>

<section class="thanks" style="display: none;">
    <h2>
        Check your email!
    </h2>
</section>

<div class="tk-proxima-nova disclaimer_container">
    <p class="disclaimer copy" id="fftf_disclosure" style="display: none;">
        <a target="_blank" href="https://www.fightforthefuture.org/">Fight for the Future</a> will contact you about future campaigns. <a target="_blank" href="/privacy">Privacy Policy</a>
    </p>
</div>
