<section id="extra-reading" class="extra-reading fadeIn">
    <h2>Extra Reading</h2>

    <p>
        Here are some excellent articles for additional depth. They cover the issue, its political history, the struggles we've overcome, and the fight ahead in Congress.
        <br>
        <br>
    </p>

    <p>
        <a
        href="/how-we-won"
        target="_blank">
            <strong>HOW WE WON!</strong></a>
        <span class="publication">
            Battle for the Net
        </span>
    </p>

    <p>
        <a
        href="https://www.techdirt.com/blog/netneutrality/articles/20140901/16294128388/everything-youve-wanted-to-know-about-net-neutrality-were-afraid-to-ask.shtml"
        target="_blank">
            Everything You&apos;ve Wanted To Know About Net Neutrality But Were Afraid To Ask</a>
        <span class="publication">
            Techdirt
        </span>
    </p>

    <p>
        <a
        href="http://whatisnetneutrality.org/timeline"
        target="_blank">
            A Timeline of Net Neutrality</a>
        <span class="publication">
            Public Knowledge
        </span>
    </p>

    <p>
        <a
        href="http://www.theverge.com/2014/1/15/5311948/net-neutrality-and-the-death-of-the-internet"
        target="_blank">
            The wrong words: how the FCC lost net neutrality and could kill the internet</a>
        <span class="publication">
            The Verge
        </span>
    </p>

    <p>
        <a
        href="http://www.businessinsider.com/why-netflix-has-buffering-wheel-today-2014-9#ixzz3CwpuZ2SV"
        target="_blank">
            Here's Why You're Seeing A Big Buffering Wheel On Netflix Today</a>
        <span class="publication">
            Business Insider
        </span>
    </p>

    <p>
        <a
        href="http://www.theverge.com/2014/9/16/6257887/fcc-net-neutrality-3-7-million-comments-made"
        target="_blank">
            FCC received a total of 3.7 million comments on net neutrality</a>
        <span class="publication">
            The Verge
        </span>
    </p>

    <p>
        <a
        href="https://medium.com/@rsingel/how-the-fcc-plans-to-save-the-internet-by-destroying-it-an-explainer-7805f8049503"
        target="_blank">
            How the FCC Plans to Save the Internet By Destroying It: An Explainer</a>
        <span class="publication">
            Ryan Singel
        </span>
    </p>

    <p>
        <a
        href="http://www.latimes.com/business/hiltzik/la-fi-mh-why-obamas-statement--20141111-column.html#page=1"
        target="_blank">
            President Obama takes a huge leap forward on net neutrality</a>
        <span class="publication">
            LA Times
        </span>
    </p>

    <p>
        <a
        href="http://www.nationaljournal.com/tech/fcc-to-enact-obama-s-plan-for-sweeping-net-neutrality-rules-20150204"
        target="_blank">
            FCC Chief Unveils Sweeping Net-Neutrality Rules</a>
        <span class="publication">
            National Journal
        </span>
    </p>

    <p>
        <a
        href="http://www.theguardian.com/technology/2015/feb/02/net-neutrality-activists-fcc-big-cable-republicans"
        target="_blank">
            Net neutrality battle pitches activists and FCC against Big Cable and GOP</a>
        <span class="publication">
            The Guardian
        </span>
    </p>

    <p>
        <a
        href="http://www.politico.com/story/2015/02/gop-game-plan-on-net-neutrality-115124.html"
        target="_blank">
            The GOP game plan on net neutrality</a>
        <span class="publication">
            Politico
        </span>
    </p>

    <p>
        <a
        href="http://www.washingtonpost.com/blogs/wonkblog/wp/2014/11/12/wonkbook-polling-shows-even-republicans-overwhelmingly-support-net-neutrality/"
        target="_blank">
            New poll: Republicans and Democrats both overwhelmingly support net neutrality</a>
        <span class="publication">
            Washington Post
        </span>
    </p>

    <p>
        <a
        href="http://mic.com/articles/90445/5-lies-we-need-to-stop-telling-about-net-neutrality"
        target="_blank">
            5 Lies We Need to Stop Telling About Net Neutrality</a>
        <span class="publication">
            Mic
        </span>
    </p>

    <p>
        <a
        href="http://pitchfork.com/thepitch/604-op-ed-why-independent-music-fans-need-real-net-neutrality/"
        target="_blank">
            Op-Ed: Why Independent Music Fans Need Real Net Neutrality</a>
        <span class="publication">
            Pitchfork
        </span>
    </p>

    <p>
        <a
        href="http://feld.com/archives/2015/02/final-thoughts-fcc-title-ii-ahead-tomorrows-vote-net-neutrality.html"
        target="_blank">
            Some Final Thoughts on the FCC and Title II Ahead of Tomorrow’s Vote on Net Neutrality</a>
        <span class="publication">
            Feld
        </span>
    </p>

    <p>
        <a
        href="https://www.usv.com/blog/keeping-the-internet-open"
        target="_blank">
             Keeping the Internet Open</a>
        <span class="publication">
            Union Square Ventures
        </span>
    </p>
</section>
