<section id="fcc-commissioners" class="fcc-commissioners fadeIn">

<h2>
Against all odds, the FCC voted for the Internet.
</h2>

<div class="key">
<h3 class="cable">
Team Cable
</h3><h3 class="internet">
Team Internet
</h3>
</div>

<div class="commissioner">
<div class="name">
<div class="first">Michael</div>
<div class="last">O'Rielly</div>
</div>
<img onload="this.parentNode.style.opacity=1;" src="images/fcc/orielly.jpg">
</div><div class="commissioner">
<div class="name">
<div class="first">Ajit</div>
<div class="last">Pai</div>
</div>
<img onload="this.parentNode.style.opacity=1;" src="images/fcc/pai.jpg">
</div><div class="commissioner">
<div class="name">
<div class="first">Tom</div>
<div class="last">Wheeler</div>
</div>
<img onload="this.parentNode.style.opacity=1;" src="images/fcc/wheeler.jpg">
</div><div class="commissioner">
<div class="name">
<div class="first">Mignon</div>
<div class="last">Clyburn</div>
</div>
<img onload="this.parentNode.style.opacity=1;" src="images/fcc/clyburn.jpg">
</div><div class="commissioner">
<div class="name">
<div class="first">Jessica</div>
<div class="last">Rosenworcel</div>
</div>
<img onload="this.parentNode.style.opacity=1;" src="images/fcc/rosenworcel.jpg">
</div>

<p>
Cable companies lobbied so hard. But we, the public, sent the FCC a message so loud they couldn't ignore us. The FCC voted to preserve Net Neutrality, with strong Title II rules that prohibit ISPs like Comcast from slowing down and breaking the sites and apps you love.
</p>

</section>
