<section id="fcc-commissioners" class="fcc-commissioners fadeIn">

<h2>
Against all odds, the FCC voted for the Internet.
</h2>

<div class="key">
<h3 class="cable">
Team Cable
</h3><h3 class="internet">
Team Internet
</h3>
</div>

<img onload="this.style.opacity=1;" src="images/fcc/orielly.jpg">
<img onload="this.style.opacity=1;" src="images/fcc/pai.jpg">
<img onload="this.style.opacity=1;" src="images/fcc/wheeler.jpg">
<img onload="this.style.opacity=1;" src="images/fcc/clyburn.jpg">
<img onload="this.style.opacity=1;" src="images/fcc/rosenworcel.jpg">

<p>
Cable companies lobbied so hard. But we, the public, sent the FCC a message so loud they couldn't ignore us. The FCC voted to preserve Net Neutrality, with strong Title II rules that prohibit ISPs like Comcast from slowing down and breaking the sites and apps you love.
</p>

</section>
