<footer>
<div class="container">
<div class="row">
<div class="col-md-3 org_logo freepress"><a href="http://www.freepress.net" target="_blank"><img data-cfsrc="images/freepress-logo.png" src="images/freepress-logo.png"></a></div>
<div class="col-md-3 org_logo"><a href="https://www.fightforthefuture.org" target="_blank"><img data-cfsrc="images/fftf_footer.png" src="images/fftf_footer.png"></a></div>
<div class="col-md-3 org_logo"><a href="https://demandprogress.org/" target="_blank"><img data-cfsrc="images/dp_footer.png" src="images/dp_footer.png"></a></div>
<div class="col-md-3 org_logo"><a href="http://www.engine.is/" target="_blank"><img data-cfsrc="images/engineis-logo.png" src="images/engineis-logo.png"></a></div>
<div class="col-md-3 org_logo"><a href="http://credoaction.com/" target="_blank"><img data-cfsrc="images/credo_footer.png" src="images/credo_footer.png"></a></div>
<div class="col-md-3 org_logo"><a href="http://mag-net.org/" target="_blank"><img data-cfsrc="images/magnet.png" src="images/magnet.png"></a></div>
<div class="col-md-3 org_logo"><a href="http://18millionrising.org/" target="_blank"><img data-cfsrc="images/18mr_footer.png" src="images/18mr_footer.png"></a></div>
<div class="col-md-3 org_logo"><a href="http://centerformediajustice.org/" target="_blank"><img data-cfsrc="images/cmj.png" src="images/cmj.png"></a></div>
</div>
<div class="row">
<div class="col-xs-3"></div>
<div class="col-xs-6"><hr></div>
<div class="col-xs-3"></div>
</div>
<div class="row">
<div class="col-xs-12 socials">
<div class="shares-container">
    <div class="share-container fb-share-container">
        <img data-cfsrc="images/share/fb_white.png" src="https://www.battleforthenet.com/images/share/fb_white.png">
        <a href="https://www.facebook.com/sharer.php?u=https://www.battleforthenet.com/#protest" target="_blank">
            Share on Facebook
        </a>
    </div>
    <div class="share-container twitter-share-container">
        <img data-cfsrc="images/share/tw_white.png" src="https://www.battleforthenet.com/images/share/tw_white.png">
        <a href="https://twitter.com/intent/tweet?related=fightfortheftr&amp;text=Comcast%27s%20pals%20in%20Congress%20are%20trying%20to%20screw%20up%20%23netneutrality.%20Tell%20em%20you%27re%20not%20fooled.%20BattleForTheNet.com%20https%3A%2F%2Ftwitter.com%2Ffightfortheftr%2Fstatus%2F535117659093086209%2Fphoto%2F1&amp;hashtags=" target="_blank">
            Share on Twitter
        </a>
    </div>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-12 blurb">
<p>For press inquiries, please contact us at:</p>
<p>
<a href="tel://1-978-852-6457"><strong>978-852-6457</strong></a> <em>or</em> <a href="tel://1-617-690-9547"><strong>617-690-9547</strong></a>
<em>or</em>
<a href="mailto:press@fightforthefuture.org" class="press"><strong>press@fightforthefuture.org</strong></a>
</p>
<p>
<a href="tel://1-201-533-8838"><strong>201-533-8838</strong></a>
<em>or</em>
<a href="mailto:tkarr@freepress.net" class="press"><strong>tkarr@freepress.net</strong></a>
</p>
<p>
<a href="tel://1-269-267-0580"><strong>269-267-0580</strong></a>
<em>or</em>
<a href="mailto:press@demandprogress.org" class="press"><strong>press@demandprogress.org</strong></a>
</p>
<p><small>All other inquiries, contact <a href="mailto:team@fightforthefuture.org">team@fightforthefuture.org</a></small></p>
<hr class="narrow">
</div>
</div>
<div class="row">
<div class="col-md-12 built_by">
    Built by<br/>
    <a href="https://www.fightforthefuture.org" target="_blank">
        <img src="images/logo.png">
        <img src="images/heart.png">
    </a>
</div>
</div>
</div>
</footer>