<section id="grumpy-cat" class="grumpy-cat fadeIn">

<h2>
Together, we defeated Team Cable.
</h2>

<img src="/images/grumpy-cat.jpg" title="Just a 2,000 square-foot banner of Grumpy Cat, flying by Comcast's headquarters in Philadelphia.">

<p>
Cable companies lobbied so hard. But we, the public, sent the FCC a message so loud they couldn't ignore us. The FCC voted to preserve Net Neutrality, with strong Title II rules that prohibit ISPs like Comcast from slowing down and breaking the sites and apps you love.
</p>

<p>
<a href="https://drive.google.com/folderview?id=0B0chF4OQ2SPoRGhfTmxwZi10S1E&usp=sharing" target="_blank">More photos &amp; video</a>
</p>

</section>
