<section id="how-we-won" class="how-we-won fadeIn">

<h2>
Together, we defeated Team Cable.
</h2>

<a href="./how-we-won"><img src="/images/how-we-won.jpg" title="Everything You Always Wanted to Know About How We Won (But Were Afraid to Ask)"></a>

<p>
Cable companies lobbied so hard. But we, the public, sent the FCC a message so loud they couldn't ignore us. The FCC voted to preserve Net Neutrality, with strong Title II rules that prohibit ISPs like Comcast from slowing down and breaking the sites and apps you love.
</p>

<p>
<a href="./how-we-won">Here's how we won.</a>
</p>

</section>
