<section id="livestream">
    <p class="padded-900 tk-proxima-nova light">
        The House and Senate hearings on the Congressional plan to destroy net neutrality will be held at 10AM EST and 2:30PM EST respectively. Stay tuned on this page to watch the livestreams below.
    </p>

    <div class="video_wrapper">
        <iframe
            id="livestream-iframe"
            frameborder="0"
            height="273"
            onload="this.style.opacity=1;"
            scrolling="no"

            src="http://www.senate.gov/isvp/?type=LIVE&comm=commerce&filename=commerce012115"

            width="420"
        ></iframe>
    </div>

    <a class="twitter-timeline" href="https://twitter.com/search?q=%23OpenInternet%2C%20%23SubCommTech" data-widget-id="557658888510918657">Tweets about #OpenInternet, #SubCommTech</a>
</section>
