<div class="overlay call invisible" id="call_modal">
    <div class="gutter">
        <div class="modal">
            <a class="close" href="#">×</a>
            <h1>We are calling you now!</h1>
            <h2 id="call_header">
                We'll connect you with an FCC commissioner (you can press * at the end of your call instead of hanging up to talk to another FCC commissioner!)
            </h2>
            <p id="call_script">
                "Hi, I'm calling because I'm deeply troubled that Comcast, AT&T, Verizon and T-Mobile have "zero-rating" schemes that allow them to pick winners and losers online. This is exactly the problem that last year's Open Internet rules sought to prevent. So, as a strong supporter of Net Neutrality, I urge the FCC to engage in a transparent, public process that puts a stop to zero rating."
            </p>
            <a class="shareBtn facebook" target="_blank" href="https://www.facebook.com/sharer.php?u=https://www.battleforthenet.com">Share on Facebook</a>
            <a class="shareBtn twitter" target="_blank" href="https://twitter.com/intent/tweet?hashtags=CallTheFCC&text=&related=fightfortheftr">Share on Twitter</a>
        </div>
    </div>
</div>
<div class="overlay call invisible" id="share_modal">
    <div class="gutter">
        <div class="modal">
            <a class="close" href="#">×</a>
            <h1>Please share this page!</h1>
            <p class="nopad">
                We need your help to spread the word and drive tons of phone
                calls and emails to Congress and the FCC!
            </p>
            <a class="shareBtn facebook" target="_blank" href="https://www.facebook.com/sharer.php?u=https://www.battleforthenet.com">Share on Facebook</a>
            <a class="shareBtn twitter" target="_blank" href="https://twitter.com/intent/tweet?hashtags=CallTheFCC&text=&related=fightfortheftr">Share on Twitter</a>
        </div>
    </div>
</div>
<div class="overlay invisible" id="thanks_modal">
  <div class="gutter">
    <div class="modal">
      <a class="close" href="#">×</a>
      <header>
        <h2>Thanks!</h2>
        <h2>Now, can you share?</h2>
      </header>
      <div class="body">
        <p>We need as many people as possible to take action this week!</p>
      </div>
      <footer>
        <div class="shares-container">
          <a href="https://www.facebook.com/sharer.php?u=https://www.battleforthenet.com/" target="_blank" class="facebook">
            <div class="share-container fb-share-container">
              <img data-cfsrc="images/share/fb_white.png" src="https://www.battleforthenet.com/images/share/fb_white.png">
              <span>Share on Facebook</span>
            </div>
          </a>
          <div class="share-container twitter-share-container twitter-brigade">
            <img data-cfsrc="images/share/tw_white.png" src="https://www.battleforthenet.com/images/share/tw_white.png">
            <span>Share on Twitter</span>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
<div class="overlay twitter invisible" id="twitter_modal">
  <div class="gutter">
    <div class="modal">
      <a class="close" href="#">×</a>
      <header>
        <h2>Join with Twitter to defend the Internet!</h2>
      </header>
      <div class="body">
        <p>There are countless battles that need to be won to keep the Internet open. From protecting net neutrality to stopping secret deals that could censor the net, we need your help. Will you let us automatically post urgent alerts from your Twitter account, about once a week? (You can <a href="https://support.twitter.com/articles/76052-connecting-or-revoking-third-party-applications#revokeaccess">opt out</a> at any time, of course.)</p>
      </div>
      <footer>
        <div class="shares-container">
          <form action="//radiant-earth-4575.herokuapp.com/auth/twitter_prep" method="POST" id="tweez">
            <!--
            <label for="email">Your email <span>(Optional)</span></label>
            <input type="text" name="email" id="emaildudez">
            <hr/>
            <label>Maximum frequency:</label>
            <select name="frequency">
                <option value="1" selected>Tweet once a day</option>
                <option value="2">Tweet once a week</option>
                <option value="3">Tweet once a month</option>
                <option value="4">Tweet three times a year</option>
            </select>
            -->
            <input type="hidden" name="frequency" value="1" />
            <button id="twitter_submit_button" class="share-container twitter-share-container" type="submit">
              <img data-cfsrc="images/share/tw_white.png" src="https://www.battleforthenet.com/images/share/tw_white.png">
              <span>Join with Twitter</span>
            </button>
          </form>
          <a href="https://twitter.com/intent/tweet?related=fightfortheftr&text=The FCC is trying to kill the Internet again. This time, it’s even worse. Here’s how to stop them... https://www.battleforthenet.com" target="_blank" class="twitter">Nope, just tweet once</a>
        </div>
      </footer>
    </div>
  </div>
</div>
<div class="overlay twitter invisible" id="edit_modal">
    <div class="gutter">
        <div class="modal">
            <a class="close" href="#">×</a>
            <aside></aside>
            <h1>Edit your FCC complaint:</h1>
            <form>
                <!--
                <label for="email">Your email
                    <span>(Optional)</span>
                </label>
                <input type="text" name="email" id="emaildudez">
                <hr/>
                -->
                <!--
                <br/>
                <label>Maximum frequency:</label>
                -->
                <!--
                <select name="frequency">
                    <option value="1" selected>Tweet once a day</option>
                    <option value="2">Tweet once a week</option>
                    <option value="3">Tweet once a month</option>
                    <option value="4">Tweet three times a year</option>
                </select>
                -->
                <textarea id="editComplaint"></textarea>
                <hr/>
                <button type="button" onclick="document.getElementById('comment').value = document.getElementById('editComplaint').value; global.modals.hide('edit_modal');">SAVE</button>
            </form>
        </div>
    </div>
</div>
