<div class="overlay call invisible" id="call_modal">
    <div class="gutter">
        <div class="modal">
            <a class="close" href="#">×</a>
            <h1>We are calling you now!</h1>
            <h2>
                We'll connect you with Congress and the FCC. When they
                answer, be polite and say:
            </h2>
            <p>
                "Net neutrality is *not* a partisan issue. America needs net
                neutrality. As the FCC heads towards its most important vote of
                our lifetime, let them do their job to pass strong Title II net
                neutrality rules." then you can tell the FCC you just called
                Congress and told them to back up the FCC if they do the right
                thing and pass Title II net neutrality."
            </p>
            <a class="shareBtn facebook" target="_blank" href="https://www.facebook.com/sharer.php?u=https://www.battleforthenet.com">Share on Facebook</a>
            <a class="shareBtn twitter" target="_blank" href="https://twitter.com/intent/tweet?hashtags=CallTheFCC&text=&related=fightfortheftr">Share on Twitter</a>
        </div>
    </div>
</div>
<div class="overlay call invisible" id="share_modal">
    <div class="gutter">
        <div class="modal">
            <a class="close" href="#">×</a>
            <h1>Please share this page!</h1>
            <p class="nopad">
                We need your help to spread the word and drive tons of phone
                calls and emails to Congress and the FCC!
            </p>
            <a class="shareBtn facebook" target="_blank" href="https://www.facebook.com/sharer.php?u=https://www.battleforthenet.com">Share on Facebook</a>
            <a class="shareBtn twitter" target="_blank" href="https://twitter.com/intent/tweet?hashtags=CallTheFCC&text=&related=fightfortheftr">Share on Twitter</a>
        </div>
    </div>
</div>
<div class="overlay twitter invisible" id="twitter_modal">
    <div class="gutter">
        <div class="modal">
            <a class="close" href="#">×</a>
            <h1>Join with Twitter</h1>
            <p class="nopad">We’re building a network of Twitter users to re-broadcast urgent alerts about the Internet Countdown &amp; threats to online freedom. Will you let the Internet Defense League post to your Twitter?</p>
            <p class="small"><a href="https://www.internetdefenseleague.org" target="_blank">Learn more about the Internet Defense League...</a></p>
            <form action="//radiant-earth-4575.herokuapp.com/auth/twitter_prep" method="POST" id="tweez">
                <label for="email">Your email
                    <span>(Optional)</span>
                </label>
                <input type="text" name="email" id="emaildudez">
                <hr/>
                <label>Maximum frequency:</label>
                <select name="frequency">
                    <option value="1" selected>Tweet once a day</option>
                    <option value="2">Tweet once a week</option>
                    <option value="3">Tweet once a month</option>
                    <option value="4">Tweet three times a year</option>
                </select>
                <hr/>
                <button id="twitter_submit_button" type="submit">Authorize with Twitter</button>
            </form>
        </div>
    </div>
</div>