<div class="overlay invisible">
    <div class="gutter">
        <div class="modal">
            <a class="close" href="#">×</a>
            <h1>We are calling you now!</h1>
            <h2>
                We'll connect you with the office of a lawmaker on one of the
                committees that’s holding a hearing this week. 
                (They might not be your own representative.)  After each call,
                don’t hang up!  Press&nbsp;* to be connected to the next person.
            </h2>
            <p>
                "I’m calling because the American people need you to stand up
                for the Internet: If you really support Net Neutrality you will
                let the FCC do its job and implement meaningful rules. Please
                DON’T support the Thune/Upton proposal, which is intended to
                confuse and undermine this process." 
            </p>
            <a class="shareBtn facebook" target="_blank" href="https://www.facebook.com/sharer.php?u=https://www.battleforthenet.com">Share on Facebook</a>
            <a class="shareBtn twitter" target="_blank" href="https://twitter.com/intent/tweet?hashtags=CallTheFCC&text=&related=fightfortheftr">Share on Twitter</a>
        </div>
    </div>
</div>