<div class="your-senators-target"></div>

<form action="https://queue.fightforthefuture.org/action" method="POST" class="group" name="petition" id="petition">
    <div style="display: none;">
        <label for="hp_enabled">
            <input type="checkbox" checked="checked" id="hp_enabled" name="hp_enabled" /> Do not uncheck this box</label>
        <label for="hp_disabled">
            <input type="checkbox" id="hp_disabled" name="hp_disabled" /> Do not check this box</label>
    </div>
    <input type="hidden" name="member[language]" value="en">
    <input type="hidden" name="member[country]" value="US" id="country">
    <input type="hidden" name="salsa" value="true">
    <input type="hidden" name="language_id" value="en">
    <input type="hidden" name="member[movement_id]" value="1">
    <input type="hidden" name="member[user_agent]" value="">
    <input type="hidden" name="member[ip_address]" value="">
    <input type="hidden" name="tag" value="battle-for-the-net-jan14th" />
    <input type="hidden" name="org" id="org" value="randomize" />
    <input type="text" name="guard" placeholder="Please leave this field blank" style="display: none;">
    <input type="hidden" name="action" value="1" />
    <div class="left">
        <input type="text" id="name" name="member[first_name]" class="form-control input-name" placeholder="Full name" title="FULL NAME" required>

        <input type="text" id="email_addr" name="member[email]" class="form-control input-email" placeholder="Email" title="EMAIL" required>

        <input type="text" id="addr" name="member[street_address]" class="form-control input-address" placeholder="Address" title="ADDRESS" required>

        <input type="text" id="zip" name="member[postcode]" class="form-control input-zip" placeholder="Postal code" title="ZIP" required>
    </div>

    <div class="right" data-toggle="modal" data-target="#editModal">
        <div class="textarea-fade"></div>
        <div class="edit">READ THE LETTER</div>
        <textarea class="form-control" id="comment" name="action_comment" tabindex="-1" title="COMMENT">Dear Senators and Representatives:

There is no doubt that the public wants real Net Neutrality. Right now, the Federal Communications Commission is on the brink of fixing a decade of bad policies and preventing ISPs from discriminating online.

In short: Let the FCC do its job. Right now the agency has no authority over the most important communications medium ever created. By reclassifying Internet-access service under Title II of the Communications Act, the FCC can protect Internet users from online discrimination and blocking. Any other approach will fall short.

Don&apos;t put the public in the slow lane. Protect real Net Neutrality now.

Thank you,</textarea>
    </div>

    <button type="submit">tell them</button>
</form>

<form class="phone-call-form" id="phone-call-form">
    <header>
        Thank you! Now, can you call? Time’s short and calls matter 10x more.
    </header>

    <section>
        <label for="phone">Enter your phone number to connect:</label>
        <input class="phone" name="phone" id="phone" placeholder="Phone number" type="tel" />
    </section>

    <footer>
        <button>get script & call</button>
        <a class="alternative-cta" href="#">Can't call? Share this page!</a>
    </footer>
</form>

<section class="thanks" style="display: none;">
    <h2>
        Thanks, you just helped save net neutrality!
    </h2>
</section>

<div class="tk-proxima-nova disclaimer_container">
    <p class="disclaimer copy" id="randomize_disclosure">
        <a target="_blank" href="https://www.fightforthefuture.org/" target="_blank">Fight for the Future</a>, <a target="_blank" href="https://demandprogress.org" target="_blank">Demand Progress</a> or <a target="_blank" href="http://www.freepress.net/" target="_blank">Free Press Action Fund</a> will contact you about future campaigns. <a target="_blank" href="/privacy/" target="_blank">Privacy</a>
    </p>

    <p class="disclaimer copy" id="fp_disclosure" style="display: none;">
        <a target="_blank" href="http://www.freepress.net/">Free Press Action Fund</a> will contact you about future campaigns. <a target="_blank" href="/privacy">Privacy Policy</a>
    </p>

    <p class="disclaimer copy" id="dp_disclosure" style="display: none;">
        <a target="_blank" href="https://www.demandprogress.org/">Demand Progress</a> will contact you about future campaigns. <a target="_blank" href="/privacy">Privacy Policy</a>
    </p>

    <p class="disclaimer copy" id="fftf_disclosure" style="display: none;">
        <a target="_blank" href="https://www.fightforthefuture.org/">Fight for the Future</a> will contact you about future campaigns. <a target="_blank" href="/privacy">Privacy Policy</a>
    </p>
</div>
