<link rel="stylesheet" href="scoreboard/scoreboard.css" />

<section id="political" class="political fadeIn">
  <h2>
    Political scoreboard
  </h2>
  <p>
    Team Cable has the money, so they have the power. They&apos;ve been lobbying Congress and the FCC for years, and now they&apos;re calling in their favors. Use this section to see where your elected officials stand.<br>
  </p>

  <div class="hidden-prior-to-loading fadeIn">
    <h3>Choose your state:</h3>
    <select>
      <optgroup label="Scoreboard:">
        <option value="key">Key Players</option>
        <option value="team-cable">Team Cable</option>
        <option value="team-internet">Team Internet</option>
      </optgroup>
      <optgroup label="Filter by State:">
        <option value="Alabama">Alabama</option>
        <option value="Alaska">Alaska</option>
        <option value="Arizona">Arizona</option>
        <option value="Arkansas">Arkansas</option>
        <option value="California">California</option>
        <option value="Colorado">Colorado</option>
        <option value="Connecticut">Connecticut</option>
        <option value="Delaware">Delaware</option>
        <option value="Florida">Florida</option>
        <option value="Georgia">Georgia</option>
        <option value="Hawaii">Hawaii</option>
        <option value="Idaho">Idaho</option>
        <option value="Illinois">Illinois</option>
        <option value="Indiana">Indiana</option>
        <option value="Iowa">Iowa</option>
        <option value="Kansas">Kansas</option>
        <option value="Kentucky">Kentucky</option>
        <option value="Louisiana">Louisiana</option>
        <option value="Maine">Maine</option>
        <option value="Maryland">Maryland</option>
        <option value="Massachusetts">Massachusetts</option>
        <option value="Michigan">Michigan</option>
        <option value="Minnesota">Minnesota</option>
        <option value="Mississippi">Mississippi</option>
        <option value="Missouri">Missouri</option>
        <option value="Montana">Montana</option>
        <option value="Nebraska">Nebraska</option>
        <option value="Nevada">Nevada</option>
        <option value="New Hampshire">New Hampshire</option>
        <option value="New Jersey">New Jersey</option>
        <option value="New Mexico">New Mexico</option>
        <option value="New York">New York</option>
        <option value="North Carolina">North Carolina</option>
        <option value="North Dakota">North Dakota</option>
        <option value="Ohio">Ohio</option>
        <option value="Oklahoma">Oklahoma</option>
        <option value="Oregon">Oregon</option>
        <option value="Pennsylvania">Pennsylvania</option>
        <option value="Rhode Island">Rhode Island</option>
        <option value="South Carolina">South Carolina</option>
        <option value="South Dakota">South Dakota</option>
        <option value="Tennessee">Tennessee</option>
        <option value="Texas">Texas</option>
        <option value="Utah">Utah</option>
        <option value="Vermont">Vermont</option>
        <option value="Virginia">Virginia</option>
        <option value="Washington">Washington</option>
        <option value="West Virginia">West Virginia</option>
        <option value="Wisconsin">Wisconsin</option>
        <option value="Wyoming">Wyoming</option>
      </optgroup>
    </select>

    <div class="key">
      <h3 class="cable">
        Team Cable
      </h3><h3 class="unknown">
        Unknown
      </h3><h3 class="internet">
        Team Internet
      </h3>
    </div>

    <div class="isotope" data-spreadsheet-key="12g70eNkGA2hhRYKSENaeGxsgGyFukLRMHCqrLizdhlw">
      Loading...
    </div>
  </div><!-- .hidden-prior-to-loading -->

</section>

<script type="text/template" id="player">
  <div class="politician class-team class-size class-meta">
    <div class="color"></div>
    <img class="target-image">
    <div class="details">
      <div class="name text-name"></div>
      <div class="organization text-organization"></div>
      <div class="state text-state" style="display:none;"></div>
      <div class="frontpage text-frontpage" style="display:none;"></div>
    </div>
  </div>
</script>
<script type="text/template" id="twitter-overlay">
  <div class="twitter">
    <a class="href-twitter tweet_link" target="_blank"><img src="images/share/tw_white.png"> Tweet</a>
    <a class="href-subdomain more_link" target="_blank">visit site</a>
  </div>
</script>
<script type="text/template" id="more-overlay">
  <div class="twitter">
    <a class="href-subdomain more_link" target="_blank">visit site</a>
  </div>
</script>
