<section class="form">
  <form method="post" action="https://queue.fightforthefuture.org/action" accept-charset="UTF-8">
    <main>
      <section>
        <input type="text" name="member[first_name]" placeholder="Full Name" title="Full Name" autocomplete="name" required>
        <input type="email" name="member[email]" placeholder="Email" title="Email" required>
        <input type="text" name="member[postcode]" class="input-zip" placeholder="ZIP" title="ZIP" required size="5" pattern="[0-9]{5}">
        <input type="text" name="member[phone]" placeholder="Phone" title="Phone">
      </section>
      <section>
        <input type="checkbox" name="volunteer">
        <label for="volunteer">I have a notable site, app, organization, or employer, a large online following, or a connection to someone who does.</label>
      </section>
      <section class="comment hidden">
        <label for="comment">Explain:</label>
        <textarea name="comment"></textarea>
      </section>
    </main>

    <footer>
      <button type="submit">Join the Protest</button>
      <div class="disclaimer">
        We’ll send you everything you need to participate. <span class="org fp hidden"><a href="https://www.freepress.net/" target="_blank">Free Press</a></span><span class="org dp hidden"><a href="https://demandprogress.org/" target="_blank">Demand Progress</a></span><span class="org fftf"><a href="https://www.fightforthefuture.org/" target="_blank">Fight for the Future</a></span> will email you about work related to this, and you can unsubscribe at any time. If you enter your number (it's optional) we may follow up by SMS, at which point message &amp; data rates apply. You can always text STOP to stop receiving messages. Here’s our <a href="/privacy/" target="_blank">Privacy Policy</a>.
      </div>
    </footer>

    <!-- This field gets updated after geocoding IP address -->
    <input type="hidden" name="member[country]" value="US"/>

    <!-- Mothership Honeypot Bot Defense -->
    <input class="hidden" type="checkbox" checked="checked" name="hp_enabled" />
    <input class="hidden" type="checkbox" name="hp_disabled" />
    <input class="hidden" type="text" name="guard" />

    <!-- Mothership -->
    <input type="hidden" name="contact_congress" value="0"/>
    <input type="hidden" name="org" value="fftf"/>

    <!-- Action Network -->
    <input type="hidden" name="an_tags" value="[&quot;net-neutrality&quot;]"/>
    <input type="hidden" name="an_petition_id" value="1cfc905d-21ab-4210-b417-64248b248d83"/>
  </form>
</section>
