<section id="team-cable" class="team-cable fadeIn">
<h2>
They are <strong>Team Cable.</strong>
</h2>
<img onload="this.style.opacity=1;" src="/images/team-cable/comcast.png">
<img onload="this.style.opacity=1;" src="/images/team-cable/verizon.png">
<img onload="this.style.opacity=1;" src="/images/team-cable/time-warner.png">
<img onload="this.style.opacity=1;" src="/images/team-cable/att.png">
<p>
Cable companies are famous for high prices and poor service. Several rank as the most hated companies in America. Now, they&apos;re attacking the Internet–their one competitor and our only refuge–with plans to charge websites arbitrary fees and slow (to a crawl) any sites that won&apos;t pay up. If they win, the Internet will never be the same.
</p>
</section>
