<section id="team-internet" class="team-internet fadeIn">
<h2>
We are <strong>Team Internet</strong>
</h2>
<p>
We believe in the free and open Internet, with no arbitrary fees or slow lanes for sites that can't pay. All of the people, companies, and organizations below have taken a stand for "Title II reclassification," the <em>only</em> option that lets the FCC stop Team Cable from breaking the key principles of the Internet we love.
</p>
<p>
    <div class="supporter">
        <img onload="this.style.opacity=1;" src="images/logo-cloud.jpg" />
    </div>

</p>

</section>
