<section id="team-internet" class="team-internet">
<h2>
We are <strong>Team Internet</strong>
</h2>
<p>
We believe in the free and open Internet, with no arbitrary fees or slow lanes for sites that can't pay. All of the people, companies, and organizations below have taken a stand for "Title II reclassification," the <em>only</em> option that lets the FCC stop Team Cable from breaking the key principles of the Internet we love.
</p>
<p>
    <div class="supporter">
        <img src="images/team-internet/ACLU.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/DFA.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/WGAE.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/WGAW.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/access.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/avg.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/bittorrent.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/bluehost.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/ccia.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/centerformediajustice.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/cheapair.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/cheezburger.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/chess.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/chromastudios.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/citysearch.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/colorofchange.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/commoncause.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/consumersunion.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/credoaction.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/dailydot.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/dailykos.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/democrats.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/digg.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/digitalocean.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/dreamhost.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/dropbox.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/dwolla.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/eff.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/etsy.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/firedoglake.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/foursquare.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/freerange.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/futureofmusic.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/gandinet.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/gfycat.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/google.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/greenpeace.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/grooveshark.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/helpcom.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/imgur.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/kickstarter.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/lesbianswhotech.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/mediamobilizingproject.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/meetup.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/metafilter.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/missdream.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/mozilla.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/namecheap.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/netflix.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/newmediarights.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/nhmc.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/openmedia.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/other98.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/pccc.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/penamerica.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/pluralsight.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/popres.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/presente.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/progressivesunited.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/reddit.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/rootsaction.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/rootstrikers.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/sendgrid.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/shockwired.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/sierraclub.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/startpage.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/stellar.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/sumofus.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/tagged.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/thenation.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/tumblr.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/upworthy.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/urbandictionary.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/vhx.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/vimeo.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/voqal.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/wam.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/wikia.png" />
    </div>

    <div class="supporter">
        <img src="images/team-internet/wordpress.png" />
    </div>

</p>

</section>