<section id="team-internet" class="team-internet fadeIn">
<h2>
We are <strong>Team Internet</strong>
</h2>
<p>
We believe in the free and open Internet, with no arbitrary fees or slow lanes for sites that can't pay. All of the people, companies, and organizations below have taken a stand for "Title II reclassification," the <em>only</em> option that lets the FCC stop Team Cable from breaking the key principles of the Internet we love.
</p>

<div class="quote-bubble">
    <div class="name">AVG</div>
    <div class="quote">Help us save net neutrality!</div>
    <div class="arrow-wrapper">
        <div class="arrow"></div>
    </div>
</div>

<p>
    <div class="supporters">
        <li
        pos="1"
        name="AVG"
        quote="AVG supports real net neutrality through Title 2!"
        >
        <li
        pos="2"
        name="EFF"
        quote="Title II Net Neutrality is the better way forward for the FCC."
        >
        <li
        pos="3"
        name="Y Combinator"
        quote="Only reclassifying broadband Title II will protect an open and neutral Internet."
        >
        <li
        pos="4"
        name="Meetup"
        quote="Title II net neutrality is the obvious legal path for ensuring a free and open Internet."
        >
        <li
        pos="5"
        name="Miss Dream"
        quote="The only way to protect the open Internet is through Title II net neutrality."
        >
        <li
        pos="6"
        name="ShockWired"
        quote="The only way to protect the open Internet is through Title II net neutrality."
        >
        <li
        pos="7"
        name="iFixit"
        quote="Help us save net neutrality!"
        >
        <li
        pos="8"
        name="Amicus"
        quote="Help us save net neutrality!"
        >
        <li
        pos="9"
        name="GSM Nation"
        quote="Help us save net neutrality!"
        >
        <li
        pos="10"
        name="QWANT"
        quote="Help us save net neutrality!"
        >
        <li
        pos="11"
        name="Bassnectar"
        quote="Help us save net neutrality!"
        >
        <li
        pos="12"
        name="Gfycat"
        quote="The only way that the FCC can protect net neutrality is through Title II."
        >
        <li
        pos="13"
        name="MetaFilter"
        quote="The FCC needs to use its authority to reclassify boradband under Title II to protect net neutrality."
        >
        <li
        pos="14"
        name="Mayor Ed Murray"
        quote="The FCC needs to use its authority to reclassify boradband under Title II to protect net neutrality."
        >
        <li
        pos="15"
        name="Imgur"
        quote="The FCC needs to use its authority to reclassify boradband under Title II to protect net neutrality."
        >
        <li
        pos="16"
        name="Grooveshark"
        quote="The FCC needs to use its authority to reclassify boradband under Title II to protect net neutrality."
        >
        <li
        pos="17"
        name="DigitalOcean"
        quote="DigitalOcean is with you. Title II net neutrality is the only real path for the FCC to move forward with protecting the Open Internet."
        >
        <li
        pos="18"
        name="Bluehost"
        quote="Broadband Internet is a telecommunications service and should be reclassified under Title II."
        >
        <li
        pos="19"
        name="Gandi.net"
        quote="Help us save net neutrality!"
        >
        <li
        pos="20"
        name="Cheezburger"
        quote="Help us save net neutrality!"
        >
        <li
        pos="21"
        name="Tumblr"
        quote="Help us save net neutrality!"
        >
        <li
        pos="22"
        name="Color of Change"
        quote="ColorOfChange.org urges the Commission to classify the transmission component of Internet access service as a Title II telecommunications service, and to adopt rules that make clear that Internet users are able to access, free from discrimination, the content, applications, services and devices of their choice; and that require ISPs to clearly disclose how and when they are engaging in network management practices."
        >
        <li
        pos="23"
        name="New Media Rights"
        quote="The only way to protect the open Internet is through Title II net neutrality."
        >
        <li
        pos="24"
        name="Wikia"
        quote="The FCC needs to use its authority to reclassify boradband under Title II to protect net neutrality."
        >
        <li
        pos="25"
        name="Kickstarter"
        quote="Help us save net neutrality!"
        >
        <li
        pos="26"
        name="Etsy"
        quote="Help us save net neutrality!"
        >
        <li
        pos="27"
        name="Reddit"
        quote="Help us save net neutrality!"
        >
        <li
        pos="28"
        name="Chess.com"
        quote="Title II net neutrality is the only way for the FCC to protect the open Internet."
        >
        <li
        pos="29"
        name="Urban Dictionary"
        quote="Title II net neutrality is the only way for the FCC to protect the open Internet."
        >
        <li
        pos="30"
        name="Stellar"
        quote="Title II net neutrality is the only way for the FCC to protect the open Internet."
        >
        <li
        pos="31"
        name="Lesbians Who Tech"
        quote="The only way to protect the open Internet is through Title II net neutrality."
        >
        <li
        pos="32"
        name="Fight for the Future"
        quote="Help us save net neutrality!"
        >
        <li
        pos="33"
        name="CREDO Mobile"
        quote="Help us save net neutrality!"
        >
        <li
        pos="34"
        name="MoveOn.org"
        quote="We need Title II net neutrality!"
        >
        <li
        pos="35"
        name="Center for Media Justice"
        quote="Title II reclassification is necessary to protect net neutrality!"
        >
        <li
        pos="55"
        name="Private Internet Access"
        quote="Help us save net neutrality!"
        >
        <li
        pos="36"
        name="Netflix"
        quote="Title II net neutrality is the only way for the FCC to protect the open Internet."
        >
        <li
        pos="37"
        name="Consumers Union"
        quote="Title II net neutrality is the best way to protect consumers."
        >
        <li
        pos="38"
        name="Automattic"
        quote="The only way to protect the open Internet is through Title II net neutrality."
        >
        <li
        pos="39"
        name="Access"
        quote="The FCC needs to use its authority to reclassify boradband under Title II to protect net neutrality."
        >
        <li
        pos="40"
        name="Open Technology Institute / New America Foundation"
        quote="Strong Open Internet protections are needed to ensure that the Internet can continue to serve as a platform for innovation, economic growth, and unfettered communication among users."
        >
        <li
        pos="41"
        name="Open MIC"
        quote="Protect the Open Internet."
        >
        <li
        pos="42"
        name="Demand Progress"
        quote="Help us save net neutrality!"
        >
        <li
        pos="43"
        name="Free Press Action Fund"
        quote="Title II net neutrality is the only way for the FCC to protect the open Internet."
        >
        <li
        pos="44"
        name="Voices for Internet Freedom"
        quote="To achieve rules that adequately protect an Open Internet, the FCC must reclassift Internet access service as a Title II telecommunications service."
        >
        <li
        pos="45"
        name="Popular Resistance"
        quote="Title II net neutrality is the only way for the FCC to protect the open Internet."
        >
        <li
        pos="46"
        name="Free Software Foundation"
        quote="Title II net neutrality is the only way for the FCC to protect the open Internet."
        >
        <li
        pos="47"
        name="Benton Foundation"
        quote="The FCC should recognize broadband access as a Title II telecommunications service to protect the Open Internet."
        >
        <li
        pos="48"
        name="National Hispanic Media Coalition"
        quote="The FCC must use Title II to stop the blocking of Internet access."
        >
        <li
        pos="49"
        name="American Civil Liberties Union (ACLU)"
        quote="Reclassifying broadband Internet access service under Title II is necessary to protect the Open Internet."
        >
        <li
        pos="50"
        name="Public Knowledge"
        quote="Data caps threaten an Open Internet."
        >
        <li
        pos="51"
        name="Common Cause"
        quote="Broadband Internet is a telecommunications service and should be reclassified under Title II."
        >
        <li
        pos="52"
        name="Computer and Communications Industry Association"
        quote="The FCC needs to use its authority to reclassify boradband under Title II to protect net neutrality."
        >
        <li
        pos="53"
        name="SendGrid"
        quote="Reclassifying broadband Internet access service under Title II is necessary to protect the Open Internet."
        >
        <li
        pos="54"
        name="SumOfUs"
        quote="Title II reclassification is necessary to protect net neutrality!"
        >
        <li
        pos="56"
        name="StartMail"
        quote="Help us save net neutrality!"
        >
        <li
        pos="57"
        name="Pluralsight"
        quote="Title II net neutrality is the only way for the FCC to protect the open Internet."
        >
        <li
        pos="58"
        name="CheapAir"
        quote="Title II net neutrality is the only way for the FCC to protect the open Internet."
        >
        <li
        pos="59"
        name="PEN American Center"
        quote="Title II net neutrality is the only way for the FCC to protect the open Internet."
        >
        <li
        pos="60"
        name="Free Range Studios"
        quote="The only way to protect the open Internet is through Title II net neutrality."
        >
        <li
        pos="61"
        name="DreamHost"
        quote="The FCC should recognize broadband access as a Title II telecommunications service to protect the Open Internet."
        >
        <li
        pos="62"
        name="Help.com"
        quote="The FCC needs to use its authority to reclassify broadband under Title II to protect net neutrality."
        >
        <li
        pos="63"
        name="VHX"
        quote="The FCC needs to use its authority to reclassify boradband under Title II to protect net neutrality."
        >
        <li
        pos="64"
        name="Citysearch"
        quote="The FCC needs to use its authority to reclassify boradband under Title II to protect net neutrality."
        >
        <li
        pos="65"
        name="Namecheap.com"
        quote="Help us save net neutrality!"
        >
        <li
        pos="66"
        name="Chroma Studios"
        quote="Chroma Studios supports net neutrality and the free Internet. We even made a game about it."
        >
        <li
        pos="67"
        name="Tagged"
        quote="The FCC must act now to preserve an open, accessible Internet."
        >
        <li
        pos="68"
        name="Disconnect"
        quote="Help us save net neutrality!"
        >
        <li
        pos="69"
        name="Boing Boing"
        quote="Help us save net neutrality!"
        >
        <li
        pos="70"
        name="Upworthy"
        quote="Help us save net neutrality!"
        >
        <li
        pos="71"
        name="Fark"
        quote="Help us save net neutrality!"
        >
        <li
        pos="72"
        name="Vimeo"
        quote="The only way that the FCC can protect net neutrality is through Title II."
        >
        <li
        pos="73"
        name="Foursquare"
        quote="Help us save net neutrality!"
        >
        <li
        pos="74"
        name="Amanda Palmer"
        quote="The only way to protect the open Internet is through Title II net neutrality."
        >
        <li
        pos="75"
        name="Piwik"
        quote="Help us save net neutrality!"
        >
        <li
        pos="76"
        name="adafruit"
        quote="Help us save net neutrality!"
        >
        <li
        pos="77"
        name="Pocketnow"
        quote="Help us save net neutrality!"
        >
        <li
        pos="78"
        name="Thunderclap"
        quote="Help us save net neutrality!"
        >
        <li
        pos="79"
        name="Crowdtilt"
        quote="Help us save net neutrality!"
        >
        <li
        pos="80"
        name="Greenpeace"
        quote="Help us save net neutrality!"
        >
    </div>
</p>

<a href="./teaminternet" class="btn">View All</a>

</section>
