<div class="politicians fadeIn">
    <a class="politician <%= politicians[0].team %>" href="<%= politicians[0].url %>" target="_blank">
        <p class="name">
            <%= politicians[0].name %>
        </p>
        <p class="stance">
            <%= politicians[0].stance %>
        </p>
        <img src="<%= politicians[0].image %>" onload="this.style.opacity=1" />
    </a>

    <a class="politician <%= politicians[1].team %>" href="<%= politicians[1].url %>" target="_blank">
        <p class="name">
            <%= politicians[1].name %>
        </p>
        <p class="stance">
            <%= politicians[1].stance %>
        </p>
        <img src="<%= politicians[1].image %>" onload="this.style.opacity=1"  />
    </a>
</div>
