<section id="zero-rating" class="zero-rating fadeIn">
    <h2>Sneak attack: data caps & zero rating</h2>

    <p>
        The same cable and phone companies that worked so hard to destroy Net Neutrality are now experimenting with new ways to get around the FCC’s rules.
    </p>
    <h3>Comcast</h3>
    <p>
        The cable and media giant that dominates the fixed broadband market is coming up with inventive ways to favor its own content over competing streaming video apps by imposing data caps in select markets and exempting its own video app Stream TV from those caps. This is a textbook example of an ISP tilting the playing field in its own interest.
    </p>
    <p>
        There is no legitimate, technical reason for these data caps. Comcast itself <a href="http://gizmodo.com/comcast-will-cap-more-peoples-data-because-of-fairness-1740913276" target="_blank">admitted</a> in <a href="http://i.imgur.com/quf68FC.jpg" target="_blank">internal customer service guidelines</a> that these caps aren’t about network congestion. Instead, it claims these data caps are about “fairness,” but the broadband industry continues to see higher revenues and profits with lower costs overall and there’s no argument that these caps are based on any “fair” costs that Internet usage causes. The real reason behind these caps is to protect Comcast’s monopoly over cable TV, making it more expensive for customers to “cut the cord” even if they want to choose other video options. And by exempting only its own online video application from the cap, Comcast gives Stream TV an advantage over all competing online video applications.
    </p>
    <h3>Verizon and AT&T</h3>
    <p>
        Both companies have sponsored data programs, creating a new toll for websites and applications who want to reach customers without impacting their data caps. This is a radical shift in Internet architecture and business models, letting ISPs seek payments for the first time from websites, app makers, and content providers that are not their customers. This creates huge barriers for start-ups and small players that can’t afford a toll. They no longer have a fair shot at reaching people online. Thus, Verizon’s and AT&T’s program create the same harms as “fast lanes” would have if they weren’t already banned. It also means ISPs could keep data caps low just to give sites a greater incentive to pay for an exemption.
    </p>
    <h3>T-Mobile</h3>
    <p>
        The Binge On program lets you watch all the streaming video you want, but there’s a catch. That unlimited streaming comes only from selected partners like Netflix, Hulu, Amazon and others. While any video provider can enroll in the program, <a href="https://cyberlaw.stanford.edu/blog/2016/01/t-mobiles-binge-violates-key-net-neutrality-principles" target="_blank">the technical requirements are substantial.</a> They categorically exclude providers like YouTube that use innovative protocols. And they discriminate against providers that use encryption. What’s worse, to pull off the plan, <a href="https://www.eff.org/deeplinks/2016/01/eff-confirms-t-mobiles-bingeon-optimization-just-throttling-applies" target="_blank">T-Mobile is downgrading the quality of all videos.</a>
    </p>
    <a href="#top" class="btn action">Take action</a>
</section>
