<section id="grumpy-cat" class="grumpy-cat fadeIn">

<h2>
Together, we defeated Team Cable.
</h2>

<img src="/images/grumpy-cat.jpg" title="Just a 2,000 square-foot banner of Grumpy Cat.">

<p>
Cable companies lobbied so hard. But we, the public, sent the FCC a message so loud they couldn't ignore us. The FCC voted to preserve Net Neutrality, with strong Title II rules that prohibit ISPs like Comcast from slowing down and breaking the sites and apps you love.
</p>

<p>
<a href="http://tumblr.fightforthefuture.org/post/112237319673/breaking-grumpy-cat-soars-over-comcast" target="_blank">To celebrate, we flew this banner over Comcast headquarters.</a>
</p>

</section>
