@import "normalize";

$PAGE_WIDTH: 800px;
$TEXT_WIDTH: $PAGE_WIDTH;
$BODY_BGCOLOR: #171629;
$STATS_BGCOLOR: #111120;
$STATS_HEIGHT: 52px;
$STATS_COLOR: #83839e;
$STATS_HLCOLOR: #46b8ff;
$HEADER_FBCOLOR: #279cff;
$HEADER_COLORA: #fd4935;
$HEADER_COLORB: #fd6d5a;
$WHITE: #CCCAEA;
$WHITE_BRIGHT: #FFF;
$RED: #f94220;
$LT_BORDER: #393558;
$GRAY_DARK: #717093;
$GRAY_LIGHT: #b1aedc;

* {
	box-sizing: border-box;
}

.clearfix:after {
  content:"";
  display:block;
  clear:both;
}

#bftn-action-form {
	min-height: 600px;

	body.call-form-page & {
		min-height: 0;
	}
}

.bftn-homepage {
	background-color: $BODY_BGCOLOR;
	color: $WHITE;
	background-image: url("/images/v2-bg-noise.png");
	background-repeat: no-repeat;
	background-position: center top;

	h1, h2, h3 {
		font-family: Montserrat, sans-serif;
		font-weight: bold;
		color: $HEADER_COLORA;
		a {
			color: inherit;
			}
	}
	h4 {
		font-family: Montserrat, sans-serif;
		font-weight: bold;
		color: $HEADER_FBCOLOR;
	}

	div, p {
		font-family: "Open Sans", sans-serif;
	}

	h1 {
		text-align: center;
		font-size: 55px;
		margin: 20px 0;
		letter-spacing: 1px;
		white-space: pre;
		span {
			display: block;
		}
	}

	h2 {
		font-size: 36px;
		margin-top: 2em;
		margin-left: -2px;
	}

	.calls-number h2 {
		text-align: center;
		margin-bottom:60px;
	}


	input {
		font-family: "Montserrat", sans-serif;
		border-radius: 4px;
		border: none;
		box-shadow: none;
		font-weight: bold;
		font-size: 17px;
		width: 100%;
		padding: 15px 10px;
		&.error {
			border: 1px solid red;
		}
	}

    pre {
      margin: 1rem auto;
      padding: 1rem;
      background-color: $WHITE;
      color: $BODY_BGCOLOR;
      border-radius: 0.2rem;

      & ::-moz-selection {
        background: $GRAY_LIGHT;
      }

      & ::selection {
        background: $GRAY_LIGHT;
      }
    }

	.opt-in input {
		width: initial;
	}

	.unit {
		width: $PAGE_WIDTH;
		margin: 0px auto;
		position: relative;
		hr {
			margin: 60px 0;
			border: 1px solid lighten($BODY_BGCOLOR, 10%);
		}
		p {
			width: $TEXT_WIDTH;
			line-height: 1.5em;
			strong {
				font-weight: bold;
				font-style: normal;
				color: $WHITE_BRIGHT;
			}
			a:not(.btn) {
				text-decoration: underline;
				color: #6388ed;
			}
		}
		dl {
			dt {
				margin: 0;
				color: $WHITE_BRIGHT;
				text-decoration: underline;
			}
			dd {
				margin: 2px 0 10px;
				color: #46c9ff;
			}
		}

		.protest-map {
			width: 100%;
			height: 500px;
			background-color: #f7f4f0;
			border-radius: 4px;
			overflow: hidden;

			@media screen and (max-width: $PAGE_WIDTH) {
				height: 300px;
			}

			iframe {
				width: 100%;
				height: 100%;
				border: none;
			}
		}

		a.app-store,
		a.google-play {
			display: inline-block;
			margin-right: 10px;
			
			img {
				height: 50px;
			}
		}
	}

    .join ul {
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      li {
        margin: 1rem 0;
        padding: 0 1rem;
      }

      &.modals li {
        min-width: 400px;
        max-width: 400px;
        flex: 1;

        img {
          max-width: 100%;
          object-fit: contain;
        }
      }
    }

	.stats {
		text-align: center;
		background-color: $STATS_BGCOLOR;
		height: $STATS_HEIGHT;
		line-height: $STATS_HEIGHT;
		color: $STATS_COLOR;
		font-size: 14.7px;
		div {
			font-family: Montserrat, sans-serif;
			font-weight: normal;
		}
		span {
			color: $STATS_HLCOLOR;
		}
		a {
			color: $STATS_COLOR;
			text-decoration: none;
			&:hover {
				color: $STATS_HLCOLOR;
				text-decoration: underline;
			}
		}
	}

	.hero {
		h1 {
			margin-top: 40px;
		}

		.petition-copy {
			padding-bottom: 25px;
			background-image: url(/images/red-arrow.png);
			background-repeat: no-repeat;
			background-position: bottom;

			p {
				width: 490px;
				font-size: 27px;
				line-height: 1.6em;
				color: $WHITE_BRIGHT;
				em {
					color: $RED;
					font-style: inherit;
					font-weight: inherit;
					a {
						color: $RED;
					}
				}
			}
		}
		.swap-form {
			.petition-copy p {
				font-size: 24px;
			}
		}
		.call-action-copy {
			p {
				font-size: 20px;
			}
		}

		.call-action-form {
			h3 {
				font-size: 55px;
				margin-bottom: 0;
			}

			text-align: center;
		}
	}
	.form-error {
		font-size: 11px;
		color: $RED;
		span {
			font-size: 14px;
			float: left;
			position: relative;
			top: 4px;
			margin-right: 5px;
		}
	}

	.petition-form {
		width: 265px;
		float: right;

		div {
			margin-bottom: 5px;
		}

		.form-wrapper {
			box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
		}

		textarea {
			font-family: "Montserrat", sans-serif;
			font-weight: bold;
			font-size: 14px;
			display: block;
			width: 100%;
			min-width: 265px;
			height: 130px;
			border-radius: 4px 4px 0 0;
			border: none;
			padding: 35px 10px 15px;
		}

		.letter {
			position: relative;
			&:after {
				color: #777;
				font-family: "Montserrat", sans-serif;
				font-weight: bold;
				font-size: 17px;
				content: "Letter:";
				position: absolute;
				top: 10px;
				left: 9px;
				right: 20px;
				background-color: white;
			}
		}
		button.btn {
			width: 100%;
			font-size: 18px;
		}
		.reset {
			text-align: center;
			font-family: "Montserrat", sans-serif;
			font-weight: bold;
			border-radius: 0 0 4px 4px;
			padding: 5px 0;
			display: block;
			width: 100%;
			border: none;
			background-color: #ccc;
			color: #999;
			text-transform: uppercase;
			font-size: 12px;
			cursor: pointer;
			transition: background-color 0.1s ease-in, color 0.1s ease-in;
			&:hover {
				background-color: #aaa;
				color: #777;
			}
		}
		.address {
			width: 165px;
		}
		.zip {
			width: 94px;
			margin-left: 1px;
		}
		.note {
			margin-top: 0.6em;
			text-align: center;
			font-family: "Open Sans", sans-serif;
			font-size: 13px;
			line-height: 1.2em;
			color: $GRAY_DARK;
			a {
				text-decoration: none;
				color: $GRAY_LIGHT;
			}
			a.privacy-policy-link {
				text-decoration: underline;
			}
		}
		.note-small {
			font-size: 11px;
		}

		p.or-text-congress {
			width: auto;
			color: #fff;
			font-weight: bold;
			margin-bottom: 0;

			b {
				color: #f94220;
			}
			a {
				color: inherit;
			}
		}
	}
	.swap-form {
		.arrow {
			top: 256px;
		}
	}
	.call-action-form {
		padding: 20px;
		text-align: center;
		p {
			width: 100%;
			font-size: 16px;
		}
		h3 {
			font-size: 32px;
			margin: 0;
		}
        .flex {
          display: flex;
        }
		input {
            margin-right: 10px;
			text-align: center;
		}
        .btn img {
            max-width: 1.4rem;
            margin-right: 0.4rem;
            vertical-align: middle;
        }
		.disclaimer {
			font-size: 10px;
		}
	}
	.participants {
		ul {
			max-width: 680px;
			margin: 0px auto;
			list-style-type: none;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			li {
				display: inline-block;
				min-width: 165px;
				max-width: 165px;
				max-height: 70px;
				padding: 15px;
				background-color: white;
				border-radius: 3px;
				margin-bottom: 6px;
				display: flex;
				flex: 1;
				box-shadow: 0px 1px 4px 0px rgba(4,4,4,1);
				img {
					max-width: 100%;
					object-fit: contain;
				}
			}
		}
		a.btn {
			max-width: 500px;
			font-size: 30px;
			margin: 0px auto;
			box-shadow: 0px 1px 4px 0px rgba(4,4,4,1);
		}
	}

	p.more {
			text-align: center;
			font-size: 16px;
			margin-bottom: 40px;
			a {
				color: $GRAY_DARK;
			}
		}

	.fadein-appear {
		opacity: 0.01;
		&.fadein-appear-active {
			opacity: 1;
			transition: opacity .5s ease-in;
		}
	}
	.fadein-enter {
		opacity: 0.01;
		&.fadein-enter-active {
			opacity: 1;
			transition: opacity .5s ease-in;
		}
	}
	.fadein-leave {
		opacity: 1;
		&.fadein-leave-active {
			opacity: 0;
			transition: opacity .5s ease-in;
		}
	}

	.loader-container {
		width: 60px;
		height: 29px;
		margin: 20px auto;
		position: relative;
	}
	.loader {
		position: inline-block;
		width: 60px;
		height: 60px;
		position: relative;
		top: 20px;
		.chord {
			position: absolute;
			width: 60px;
			height: 6px;
			transition: opacity 0.05s;
		}
		.ray {
			display: block;
			height: 6px;
			width: 18px;
			background-color: $HEADER_COLORA;
			border-radius: 3px;
		}
		.chord-a { transform: rotate(0deg); }
		.chord-b { transform: rotate(45deg); }
		.chord-c { transform: rotate(90deg); }
		.chord-d { transform: rotate(135deg); }
		.chord-e { transform: rotate(180deg); }
		.chord-f { transform: rotate(225deg); }
		.chord-g { transform: rotate(270deg); }
		.chord-h { transform: rotate(315deg); }
		.chord-0 { opacity: 1.0; }
		.chord-1 { opacity: 0.9; }
		.chord-2 { opacity: 0.8; }
		.chord-3 { opacity: 0.7; }
		.chord-4 { opacity: 0.6; }
		.chord-5 { opacity: 0.5; }
		.chord-6 { opacity: 0.4; }
		.chord-7 { opacity: 0.3; }
	}

	footer {
		background-color: #1f1c35;
		padding: 30px 30px 0px 30px;
		margin-top: 100px;
		.logos {
			padding: 20px 0;
			border-bottom: 2px solid $LT_BORDER;
			text-align: center;
			a {
				line-height: 62px;
			}
			.fftf {
				margin-right: 40px;
				position: relative;
				top: -6px;
			}
			.demandprogress {
				position: relative;
				top: 8px;
				margin-right: 40px;
			}
			.freepress {
			}
		}
		.press-inquiries {
			width: 65%;
			float: left;
			padding-top: 10px;
			font-weight: bold;
			color: $GRAY_DARK;
			a {
				color: $WHITE_BRIGHT;
			}
			.no-em {
				text-decoration: none;
			}
			h3 {
				margin-bottom: 15px;
			}
			ul {
				font-family: "Open Sans", sans-serif;
				font-weight: bold;
				list-style-type: none;
				padding: 0;
				li {
					margin: 0 0 8px 0;
				}
			}
		}
		.social-media {
			float: left;
			height: 90px;
			width: 30%;
			margin-left: 5%;
			a, div.faux-a {
				display: block;
				width: 100%;
				font-family: "Open Sans", sans-serif;
				font-weight: bold;
				font-size: 14px;
				position: relative;
				color: $WHITE_BRIGHT;
				text-decoration: none;
				cursor: pointer;
				height: 50px;
				padding: 0 45px 0 15px;
				line-height: 50px;
				border-radius: 25px;
				text-transform: uppercase;
				text-align: center;
				span {
					margin-left: 5px;
				}
			}
			img {
				position: absolute;
				height: 40px;
				top: 5px;
				right: 15px;
			}
			.twitter {
				background-color: #2ecaf8;
				margin-top: 70px;
				margin-bottom: 10px;
				&:hover {
					background-color: desaturate(#2ecaf8, 20%);
				}
			}
			.facebook {
				background-color: #224769;
				&:hover {
					background-color: desaturate(#224769, 20%);
				}
			}
		}
		.built-by {
			clear: both;
			font-weight: bold;
			text-align: center;
			width: 300px;
			margin: 40px auto 0;
			background-color: $BODY_BGCOLOR;
			padding: 20px 0 40px;
			line-height: 1em;
			color: $GRAY_DARK;
			border-radius: 3px 3px 0 0;
			img {
				position: relative;
				top: 2px;
			}
		}
	}

	.video-roll {
		position: relative;
		height: 300px;
		margin: 25px 0 0 0;
		.controls {
			position: absolute;
			width: 100%;
			top: 0;
			.bar {
				position: absolute;
				background-color: #2a2749;
				top: 290px;
				height: 3px;
				width: 90%;
				margin: 0 5%;
			}
			.section {
				height: 100%;
				position: absolute;
				background-color: #5f88ff;
				transition: left 0.3s ease-in;
			}
			.prev, .next {
				top: 0px;
				height: 250px;
				position: absolute;
				cursor: pointer;
				text-align: center;
				div {
					display: inline-block;
					background-color: #494476;
					color: #17152a;
					font-size: 18px;
					height: 42px;
					width: 42px;
					line-height: 42px;
					margin-top: 80px;
					border-radius: 21px;
					span {
						position: relative;
						top: 2px;
					}
				}
				&:hover div {
					background-color: #5f88ff;
				}
			}
			.prev {
				left: 0;
			}
			.next {
				right: 0;
				span {
					left: 1px;
				}
			}
		}
		.video-container {
			height: 250px;
		}
		.video-scroller {
			position: absolute;
			top: 0px;
		}
		.video {
			position: absolute;
			transition: left 0.3s ease-in, opacity 0.3s ease-in;
			opacity: 0.2;
			&.video-end {
				transition: none;
			}
			&.video-active {
				opacity: 1.0;
			}
			.thumb {
				position: relative;
				overflow: hidden;
				border-radius: 2px;
				box-shadow:
					0 -1px 5px rgba(0, 0, 0, 0.4),
					inset 0 2px 0px white;
				.veneer {
					position: absolute;
					height: 100%;
					width: 100%;
					background-color: rgba(0, 0, 140, 0.2);
				}
				img {
					width: 100%;
					height: 100%;
				}
			}
			p {
				margin: 10px 0;
				span {
					display: block;
					font-weight: bold;
				}
			}
			.play {
				display: none;
				text-align: center;
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				.wrapper {
					position: absolute;
					top: 50%;
					left: 50%;
				}
				.circle {
					position: relative;
					top: -32px;
					left: -32px;
					display: block;
					font-size: 40px;
					color: white;
					cursor: pointer;
					width: 75px;
					height: 75px;
					line-height: 75px;
					border-radius: 50px;
					border: 3px solid white;
					background-color: #515470;
					span {
						position: relative;
						left: 5px;
					}
				}
			}
			&.video-active .play {
				display: block;
			}
		}
	}
	.the-problem {
		text-align: center;
		ul {
			list-style-type: none;
			padding: 0;
		}
		li {
			display: inline-block;
		}
		img {
			height: 100px;
			margin: 0 20px;
		}
	}
	.extra-reading {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			margin-bottom: 10px;
		}
		a {
			color: $WHITE_BRIGHT;
		}
		em {
			font-style: normal;
			color: #46c9ff;
		}
	}
	.backers {
		img {
			margin: 20px 10px;
		}
		.shuttleworth {
			position: relative;
			top: -14px;
		}
	}
	.persistent-button {
        min-width: 28rem;
		position: fixed;
		bottom: -85px;
		right: 25px;
		transition: bottom 0.2s ease-in;
		a.btn {
			font-size: 40px;
			padding: 15px;
			box-shadow: 5px 5px 35px rgba(0, 0, 0, 1.0);
			transition: box-shadow 0.3s ease-in;

            img {
              max-width: 3rem;
              margin-right: 1rem;
              vertical-align: bottom;
            }
		}

		a.btn{
			width:100%;
		}

		a.btn:hover {
			box-shadow: 10px 10px 35px rgba(0, 0, 0, 1.0);
		}


	}
	.toggle-true .persistent-button {
		bottom: 25px;
	}

	button.btn, a.btn {
		border: none;
		text-decoration: none;
		text-align: center;
		font-family: "Montserrat", sans-serif;
		font-weight: bold;
		display: block;
		width: 50%;
		padding: 10px;
		font-size: 20px;
		border-radius: 4px;
		text-transform: uppercase;
		background-color: $RED;
		color: $WHITE_BRIGHT;
		cursor: pointer;
		&:hover {
			background-color: desaturate($RED, 20%);
		}
	}
	.no-overflow {
		overflow: hidden;
	}
	.modal {
		position: fixed;
		z-index: 20;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;

		p {
			width: 100%;
		}
		.modal-background {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: black;
			opacity: 0.6;
		}

		.modal-close {
			top: 0px;
			right: 8px;
			position: absolute;
			font-size: 30px;
			cursor: pointer;

			span.oi {
				display: none;
			}

			&:before {
				content:"\00d7";
				color: #cad7ee;
			}
		}

		.modal-content-container {
			pointer-events: none;
			position: relative;
			height: 100%;
			width: 100%;
			top: 50%;
		}
		.modal-content {
			pointer-events: all;
			position: relative;
			margin: 0 auto;
			border-radius: 8px;
		}

		#after-action-footer {
		  padding: 20px;
		  // background-color: #141037;
		  // border-radius: 0 0 10px 10px;

		  h3 {
		  	margin: 0 0 10px;
		  	color: #94a3c3;
		  	text-transform: uppercase;
		  	font-size: 16px;
		  }

		  .row {
  		  display: flex;
  		  flex-direction: row;
  		  justify-content: center;
  		  align-items: stretch;

  		  > a {
  		  	flex: 1;
  		  	flex-grow: 1;
  		  	margin: 5px 10px;
  		  }
  		}

  		button {
  			width: 100%;
			  padding: 8px 32px;
			  background: transparent;
			  border: none;
			  border-radius: 4px;
			  color: #fff;
			  font-size: 16px;
			  line-height: 2;
			  text-transform: uppercase;

			  div {
	  		  display: flex;
	  		  flex-wrap: nowrap;
	  		  align-items: center;
	  		  justify-content: center;
	  		}

	  		&:hover {
	  			cursor: pointer;
	  		}

	  		&.facebook {
	  			background-color: #2b48a7;
	  		}

	  		&.twitter {
	  			background-color: #4ea9ed;
	  		}

	  		&.donate {
	  			background-color: #39375b;
	  		}

	  		&.protest {
	  			border: 1px solid #2b294b;
	  		}

	  		img {
	  		  max-width: 1rem;
	  		  max-height: 1rem;
	  		  margin: 0 0.5rem 0.1rem 0;
	  		}

	  		&.facebook img, &.twitter img {
	  		  max-width: 1.5rem;
	  		  max-height: 1.5rem;
	  		  margin-right: 0.2rem;
	  		}

	  		&.protest img {
	  			width: 14px;
	  			height: 21px;
	  			max-height: none;
	  			max-width: none;
	  		}
			}
		}
	}

	.loading-modal {
		.modal-content {
			position: relative;
			height: 60px;
			width: 60px;
			margin: -30px auto 0;
		}
	}
	.callform-modal {
		.call-action-form h3 {
			font-size: 30px;
		}
		.modal-content {
			height: 350px;
			max-width: 600px;
			background-color: $BODY_BGCOLOR;
			margin: -175px auto 0;
		}
	}
	.callsuccess-modal {
		.modal-close {
			top: 4px;
			right: 12px;
		}

		.modal-content {
			max-width: 600px;
			margin: -200px auto 0;
			text-align: center;
			background-color: #121122;
			border-radius: 10px;

			header {
				background-color: $BODY_BGCOLOR;
				padding: 20px;
				border-radius: 10px 10px 0 0;
			}

			h2 {
				font-size: 40px;
				margin: 20px 0 10px;
			}

			h4 {
				margin: 15px 0 -5px;
				font-size: 18px;
				font-weight: 500;
				color: #fff;
			}

			blockquote {
				font-size: 19px;
				line-height: 1.4;
				font-style: italic;
				color: #a2b0ca;
				display: block;
			}

			.tip {
				background-color: #24233d;
				color: #fff;
				background-image: url(/images/tip-icon.png);
				background-size: 15px 15px;
				background-position: 8px center;
				background-repeat: no-repeat;
				margin: auto;
				display: inline-block;
				padding: 8px 8px 8px 30px;
			}
		}
	}
	.twitter-modal {
		.modal-content {
			max-width: 600px;
			background-color: $BODY_BGCOLOR;
			margin: -180px auto 0;
			padding: 20px;
			a {
				color: $WHITE_BRIGHT;
			}
			h2 {
				text-align: center;
				font-size: 40px;
				margin: 0 0 10px;
			}
			.btn {
				span {
					position: relative;
					top: -6px;
				}
			}
			img {
				display: inline-block;
				height: 30px;
			}
			.notice {
				text-align: center;
			}
		}
	}

	.social-media-buttons {
		position: absolute;
		left: 0;
		top: 500px;
		z-index: 100;
		.share-bar {
			display: block;
			position: relative;
			height: 60px;
			width: 80px;
			border-radius: 0 30px 30px 0;
			margin-bottom: 10px;
			transition: width 0.2s ease-in;
			span {
				font-family: "Open Sans", sans-serif;
				font-weight: bold;
				color: white;
				text-transform: uppercase;
				display: block;
				line-height: 60px;
				width: 200px;
				text-align: right;
				opacity: 0;
				position: absolute;
				right: 60px;
				transition: opacity 0.4s ease-in;
			}
			img {
				position: absolute;
				height: 50px;
				right: 15px;
				top: 5px;
			}
		}
		.share-bar:hover {
			width: 250px;
			span {
				opacity: 1.0;
			}
		}
		.twitter {
			background-color: #2ecbf8;
		}
		.facebook {
			background-color: #234769;
		}
	}

	@import "carousel";
	@import "political-scoreboard";
	@import "leaderboard";

	@media screen and (max-width: $PAGE_WIDTH) {
		.unit {
			width: 90%;
			p {
				width: auto;
			}
		}
		h1 {
			font-size: 40px;
			white-space: normal;
			span {
				display: none;
			}
		}
		h2 {
			font-size: 24px;
		}



		.stats {
			padding: 5px 0;
			line-height: 1.2em;
			height: auto;
		}
		.social-media-buttons {
			display: none;
		}
		.hero {
			.petition-copy {
				background-image: none;
				padding-bottom: 20px;
				p {
					width: auto;
					font-size: 20px;
				}
			}
		}
		.petition-form {
			position: relative;
			width: 100%;
			margin-bottom: 20px;

			.address {
				width: 60%;
			}
			.zip {
				float: right;
				width: 39%;
			}
			textarea {
				clear: left;
			}
		}

    .call-action-form {
      .flex {
        display: block;
      }

      input {
         margin: 0 0 10px 0;
      }
    }
		.modal .modal-close {
			right: 4px;
			top: 4px;
		}
		.modal .call-action-form {
			h3 {
				font-size: 20px;
			}
			p {
				font-size: 12px;
			}
		}
		.callsuccess-modal .modal-content {
			h2 {
				font-size: 20px;
			}
			h4 {
				font-size: 16px;
			}
			p {
				font-size: 14px;
			}
		}
		footer {
			.logos {
				width: 100%;
				border: none;
				text-align: center;
				margin: 0;
				padding: 10px 0 0;
				float: none;
				a {
					display: block;
				}
				.fftf, .demandprogress, .freepress {
					margin: 0;
				}
			}
			.social-media {
				width: 100%;
				margin: 0;
				border: none;
				text-align: center;
				float: none;
				.twitter {
					margin-top: 20px;
				}
			}
			.press-inquiries {
				width: 100%;
				float: none;
			}
			.built-by {
				padding-bottom: 80px;
			}
		}
	}
	@media screen and (max-width: 930px) {
		.hero {
			margin-bottom: 20px;
		}
		.the-problem {
			width: 600px;
			margin: 0px auto;
		}

		button.btn, a.btn {
			width: 50%;
		}

		.hero .call-action-form h3 {
			font-size: 40px;
		}


	}

	@media screen and (max-width: 800px) {

		button.btn, a.btn {
			width: 100%;
		}

	}

	@media screen and (max-width: 600px) {
		.the-problem {
			width: auto;
			text-align: center;
			li {
				display: block;
			}
		}
		.video-roll .controls {
			display: none;
		}
		.twitter-modal .modal-content {
			h2 {
				font-size: 25px;
			}
			p {
				font-size: 16px;
				line-height: 1.4em;
			}
		}
		button.btn, a.btn {
			width:100%;
		}

		.hero .call-action-form h3 {
			font-size: 36px;
		}
			


	}
	@media screen and (max-width: 500px) {
		.twitter-modal .modal-content {
			h2 {
				font-size: 20px;
			}
			p {
				font-size: 15px;
				line-height: 1.2em;
			}
			.btn {
				img {
					height: 18px;
				}
				span {
					font-size: 12px;
					top: -2px;
				}
			}

			button.btn, a.btn {
			width:100%;
		}

		}
		.persistent-button {
      min-width: 100%;
			width: 100%;
			right: 0;
			a.btn {
				border-radius: 0;
				font-size: 1.9rem;
				padding: 1rem 0;
				letter-spacing: -0.4px;
				img {
					max-width: 1.8rem;
					margin-right: 0.2rem;
				}
			}
		}
		.toggle-true .persistent-button {
			bottom: 0;
		}

		.hero .call-action-form h3 {
			font-size: 26px;
		}
	}
	@media screen and (max-width: 370px) {
		footer .built-by {
			width: auto;
		}
	}
	.no-scroll {
		overflow: hidden;
		-webkit-overflow-scrolling: touch;
	}
	.hidden {
		display: none;
	}
	.spacer {
		clear: both;
	}
}

#video_container {
	margin-top: 2em;
	position: relative;
	height: 0;
	overflow: hidden;
	max-width: 600px;
	padding-bottom: 56.25%;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

@import "shareprogress-overrides";
@import "uber-political-scoreboard";
