html, body {
  min-height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  color: #424242;
  background-image: url("../images/collage.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.content {
  background-image: url("../images/eraser.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 50px 0;
}

.logo {
  margin: 30px 0 10px;
  text-align: center;
}

.logo img {
  width: 450px;
  max-width: 90%;
}

.container {
  width: 400px;
  max-width: 80%;
  margin: auto;
}

a {
  text-decoration: none;
}

h1 {
  color: #dc2626;
  font-size: 30px;
  font-weight: 900;
}

p {
  font-weight: 900;
  line-height: 1.33;
}

.btn {
  color: #fff;
  background-color: #dc2626;
  display: block;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 30px;
  flex-grow: 1;
}

.btn-outline {
  color: #dc2626;
  background-color: #fff;
  border: 1px solid #dc2626;
  font-size: 16px;
  width: auto;
}

.form-error {
  color: #dc2626;
}

input {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  padding: 15px;
  border: 1px solid #343434;
  border-radius: 3px;
  width: 41%;
  margin: 0 4px 8px 0;
}

input:nth-child(even) {
  margin-right: 0;
}

.hidden {
  display: none;
}

.social {
  margin: 10px 0;
}

.social a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  display: inline-block;
  margin: 20px 0;
  width: 49%;
  text-align: center;
}

a.facebook {
  color: #3c5cc4;
  border-right: 1px solid #eee;
}

a.twitter {
  color: #79cff2;
}

@media screen and (max-width: 800px) {
  .content {
    background-size: 160%;
    background-position: top center;
  }

  input {
    width: 92%;
  }

  .btn:not(.btn-outline) {
    font-size: 26px;
  }
}