body {
  font-family: 'Open Sans', sans-serif;
}

h1, .btn, input, .and {
  font-family: 'Montserrat', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

body {
  color: #424242;
}

a {
  color: #ff2121;
  text-decoration: underline;
}

.collage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/collage2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 1;
}

.logo {
  position: absolute;
  z-index: 3;
  top: 18px;
  left: 0;
  right: 0;
  text-align: center;
}

.logo img {
  width: 129px;
  max-width: 90%;
}

.content {
  position: absolute;
  z-index: 2;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/eraser.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 60px 0;
}

.container {
  width: 550px;
  max-width: 80%;
  margin: auto;
  padding-top: 10px;
}

h1 {
  color: #ff2121;
  font-size: 30px;
  font-weight: bold;
}

p {
  font-weight: bold;
  line-height: 1.33;
}

.btn {
  color: #fff;
  background-color: #ff2121;
  display: block;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  font-size: 30px;
  flex-grow: 1;
  text-decoration: none;
}

.and {
  color: #c6c6c6;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin: 10px 0;
}

.btn-outline {
  color: #ff2121;
  background-color: #fff;
  border: 1px solid #ff2121;
  font-size: 16px;
  width: auto;
}

.form-error {
  color: #ff2121;
}

input {
  font-size: 16px;
  padding: 15px;
  border: 1px solid #343434;
  border-radius: 3px;
  width: 49%;
  margin: 0 0 8px 0;
  float: left;
}

input:nth-child(even) {
  margin-left: 2%;
}

.hidden {
  display: none;
}

.social {
  margin: 10px 0;
}

.social a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  margin: 20px 0;
  width: 49%;
  text-align: center;
}

a.facebook {
  color: #215cc8;
  border-right: 1px solid #c6c6c6;
}

a.twitter {
  color: #28d0f4;
}

@media screen and (max-width: 800px) {
  .content {
    background-size: 160%;
    background-position: top center;
    padding-top: 30px;
  }

  input {
    width: 100%;
    float: none;
  }

  input:nth-child(even) {
    margin-left: 0;
  }

  .btn:not(.btn-outline) {
    font-size: 26px;
  }

  a.facebook {
    border-right: none;
  }
}

@media screen and (min-width: 2000px) {
  .content {
    padding-top: 80px;
  }
}