body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, .btn, input, .and {
  font-family: 'Montserrat', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix:after {
  content:"";
  display:block;
  clear:both;
}

html, body {
  min-height: 100%;
}

body {
  color: #424242;
  background-image: url("../images/collage.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center -100px;
  padding-top: 75px;
}

a {
  color: #ff2121;
  text-decoration: underline;
}

a[name] {
  text-decoration: none;
}

h1, h2, h3 {
  color: #ff2121;
}

h1 {
  font-size: 28px;
}

p {
  font-weight: bold;
  line-height: 1.4;
}

img {
  max-width: 100%;
}

.eraserhead {
  background-image: url("../images/eraser.png");
  background-size: 105%;
  background-repeat: no-repeat;
  background-position: center 50px;
}

.container {
  width: 800px;
  max-width: 80%;
  margin: auto;
  margin-top: -50px;
}

section {
  margin-bottom: 100px;
}

section.main {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.logo {
  text-align: center;
}

.logo img {
  width: 130px;
}

.btn {
  color: #fff;
  background-color: #ff2121;
  display: block;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  font-size: 30px;
  flex-grow: 1;
  text-decoration: none;
}

.and {
  color: #c6c6c6;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin: 10px 0;
}

.btn-outline {
  color: #ff2121;
  background-color: #fff;
  border: 1px solid #ff2121;
  font-size: 16px;
  width: auto;
}

.form-error {
  color: #ff2121;
}

input, textarea {
  font-size: 16px;
  padding: 15px;
  border: 1px solid #343434;
  border-radius: 3px;
}

form input {
  width: 49%;
  margin: 0 0 8px 0;
  float: left;
}

form input:nth-child(even) {
  margin-left: 2%;
}

.hidden {
  display: none;
}

.social {
  margin: 10px 30px;
}

.social a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  margin: 20px 0;
  width: 49%;
  text-align: center;
}

a.facebook {
  color: #215cc8;
  border-right: 1px solid #c6c6c6;
}

a.twitter {
  color: #28d0f4;
}

.widgets textarea {
  width: 100%;
  font-family: monospace;
  margin-bottom: 20px;
  padding: 10px 10px 0 10px;
}

.widgets .modals img {
  width: 48%;
  border-radius: 8px;
  display: block;
  float: left;
  margin: 10px 1%;
}

.widgets .banners img {
  display: block;
  margin: 20px auto;
}

@media screen and (max-width: 1000px) {
  .eraserhead {
    background-size: 140%;
  }
}

@media screen and (max-width: 800px) {
  .eraserhead {
    background-size: 200%;
  }

  input {
    width: 100%;
    float: none;
  }

  input:nth-child(even) {
    margin-left: 0;
  }

  .btn:not(.btn-outline) {
    font-size: 26px;
  }

  .social {
    margin-left: 0;
    margin-right: 0;
  }

  a.facebook {
    border-right: none;
  }

  .widgets .modals img {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .widgets textarea {
    padding: 5px;
  }

  .widgets .banners img {
    width: 100%;
    height: auto;
  }
}